// start .sBlog
.sBlog {
	//overflow-x: hidden;

	--sPT: #{rem(80)};
	--sPB: #{rem(80)};
	--sTPB: #{rem(60)};
	@include media-breakpoint-up(md){
		--sPT: #{rem(80)};
		--sPB: #{rem(80)};
		--sTPB: #{rem(60)};
	}
	@include media-breakpoint-up(xl){
		--sPT: #{rem(100)};
		--sPB: #{rem(100)};
		--sTPB: #{rem(80)};
	}
	@include media-breakpoint-up(xxl){
		--sPT: #{rem(90)};
		--sPB: #{rem(90)};
		--sTPB: #{rem(66)};
	}

	background: $light;

	position: relative;
	z-index: 1;
	.bg-txt{
		top: rem(246);
		@include media-breakpoint-up(xl){
			top: rem(235);
		}
		@include media-breakpoint-up(xxl){
			top: rem(219);
		}
	}
	//.container{
	//	position: relative;
	//}

	//
	&__slider-wrap{
		width: 100%;
		@include media-breakpoint-up(sm){
			width: rem(304);
		}
		@include media-breakpoint-up(xl){
			width: rem(380);
		}
		@include media-breakpoint-up(xxl){
			width: rem(424);
		}

		margin: 0 auto;

		.swiper-container{
			position: static!important;
			@include media-breakpoint-up(sm){
				overflow: visible!important;
			}
		}
		.swiper-wrapper{

		}
		.swiper-slide{
			@include mt();
			width: 100%;

			&-active{
				@include media-breakpoint-up(sm){
					transform: translateY(-25px);
				}
			}
		}
	}
	//
	&__arrow-cont{
		display: flex;
		align-items: center;
		justify-content: center;

		padding-top: rem(60);
		@include media-breakpoint-up(sm){
			padding-top: 0;
		}
	}
	.swiper-button-hand{
		margin-left: 10px;
    margin-right: 10px;
		@include media-breakpoint-up(sm){
			position: absolute;
			top: rem(552);
			margin-left: 0;
			margin-right: 0;
		}

		@include media-breakpoint-up(sm){
			top: rem(400);
		}
		@include media-breakpoint-up(md){
			top: rem(452);
		}
		@include media-breakpoint-up(xl){
			top: rem(552);
		}

		&-prev{
			// margin-right: rem(12);
			@include media-breakpoint-up(sm){
				margin-right: 0;
			}
		}
	}
	&__{}
} // end.sBlog

.sBlogitem{
	background-color: $white;
	border-radius: rem(10);
	overflow: hidden;
	min-height: 100%; 
	color: $body-color;
	display: block;
	&:hover{
		color: $primary;
	}
	transform: scale(1);
	&:hover{
			box-shadow: 0px rem(5) rem(15) rgba(45, 55, 65, 0.1);
				@include media-breakpoint-up(sm) {
					transform: scale(1);
			  img{
				transform: scale(1.12);
			}
			}
		}


	--descr-mb: #{rem(33)};
	--date-mb: #{0};
	&.offers-item{
		--descr-mb: #{rem(12)};
		--date-mb: #{rem(24)};
	}

	&__img{
		@extend .accept-ratio-frame;
		height: rem(273);
		border-radius:rem(10) rem(10)  0 0 ;
		//padding-top: (273/424) * 100%;
	}
	&__content{
		display: flex;
		flex-direction: column;
		padding: rem(24);

		border: 1px solid $gray-100;
		border-top: none;
		align-items: flex-start;
		border-radius: 0 0 rem(10) rem(10);

	}
	&__name{
		font-weight: 600;
		font-size: rem(20);
		line-height: 1.5;
		color: $blue;
		margin-bottom: rem(12);
	}
	&__title{
		font-weight: 600;
		font-size: rem(20px);
		line-height: 1.5;
	

		margin-bottom: rem(12);
	}
	&__descr{
		line-height: 1.75;
		margin-bottom: var(--descr-mb, #{rem(33)});
			color: $body-color;
	}
	&__date{
		margin-top: auto;
		color: $dark;
		margin-bottom: var(--date-mb, #{rem(24)});
	}


	&__read-more{
		@extend .btn;
		@extend .btn-outline-danger;

		//align-self: flex-start;
		padding: rem(11) rem(35);

		&:hover{
			color: $white!important;
		}
	}
	&__{}
}