mixin footer()
  +b.FOOTER.footer#sContact
    +b.bg-txt.d-none.d-lg-block
      img(loading="lazy" src=`img/svg/footer-txt.svg` alt="")
    .container
      +e.numbers(class="wow  animate__fadeIn  " )
        +e.number(href='tel:+79525434470') +7 (952) 543-44-70
        br
        +e.number(href='tel:+79523621145') +7 (952) 362-11-45
      +e.connect-txt(class="wow  animate__fadeIn  " ) или свяжитесь с нами в мессенджерах:
      +e.btns-row.row.text-center(class="wow  animate__fadeIn  " )
        +e.btn-col.col-md-auto
          +e.btn--wa(href='#')
            +icon('whatsapp')
            span Whatsapp
        +e.btn-col.col-md-auto
          +e.btn--vb(href='#')
            +icon('viber')
            span Viber
        +e.btn-col.col-md-auto
          +e.btn--tg(href='#')
            +icon('telegram')
            span Telegram
      +e.bot-row.row.justify-content-center(class="wow  animate__fadeIn  " )
        .col-auto
          +e.link(href='#')
            +e.img
              img(loading="lazy" src='img/svg/skype.svg' alt="")
            +e.l-txt Jollykite
        .col-auto
          +e.link(href='mailto:GagarinKite@gmail.com')
            +e.img
              img(loading="lazy" src='img/svg/email.svg' alt="")
            +e.l-txt GagarinKite@gmail.com
        .text-center.col-12.pt-4
          +e.development.d-block
              span.gray  Основной сайт - 
              | 
              a.black(href='https://gagarinkite.com/' target="_blank") GagarinKite.com
      +e.lowest-row.row.align-items-center(class="wow  animate__fadeIn  " )
        .col-6.col-md
          +e.policy(href="#") Политика конфиденциальности
        .col-md-auto.order-first.order-md-0
          +e.logo(href='#')
            img(loading="lazy" src="img/svg/logo.svg" alt="")
        .col-6.col-md
          +e.development
            span.gray
              | Разработка сайта –
              |
            a.black(href='#') AD HEADS