.footer {
	position: relative;
	z-index: 1;
	background-color: $white;

	padding: rem(80) 0 rem(60) 0;
	@include media-breakpoint-up(md){
		padding: rem(90) 0 rem(60) 0;
	}
	@include media-breakpoint-up(xl){
		padding: rem(90) 0 rem(60) 0;
	}
	@include media-breakpoint-up(xxl){
		padding: rem(90) 0;
	}

	.bg-txt{
		bottom: rem(450);
		@include media-breakpoint-up(xl){
			bottom: rem(360);
		}
		@include media-breakpoint-up(xxl){
			bottom: rem(313px);
		}
	}

	&__numbers{
		text-align: center;
		font-weight: bold;

		&:after{
			content: '';
			display: block;
			margin: 0 auto rem(60) auto;
			width: 90px;
			height: 11px;

			background-image: url(../img/@2x/foot-waves.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
	&__number{
		display: inline-block;

		color: $body-color;
		&:hover{
			color: $primary;
		}

		margin-bottom: rem(30);
		font-size: rem(36);
		line-height: (44/36);
		@include media-breakpoint-up(md){
			margin-bottom: rem(45);
			font-size: rem(48);
			line-height: (58/48);
		}
		@include media-breakpoint-up(xxl){
			font-size: rem(60);
			line-height: (73/60);
		}
	}
	&__connect-txt{
		font-weight: 600;
		text-align: center;

		font-size: rem(26);
		line-height: (31/26);
		margin-bottom: rem(60);
	}
	//foot-waves
	&__btns-row{
		justify-content: center;
		align-items: center;

		padding-bottom: rem(60);

		@include roww(rem(16));
		--bs-gutter-y: #{rem(16)};
		@include media-breakpoint-up(xl){
			@include roww(rem(24));
			--bs-gutter-y: #{rem(24)};
		}
	}
	&__btn-col{

	}
	&__btn{
		width: rem(300);
		border-radius: rem(5);
		display: inline-flex;
		align-items: center;
		justify-content: center;

		font-weight: 600;
		font-size: rem(20);
		padding: 18px 12px;
		line-height: 1.2;

		color: $white!important;
		&:hover{
			color: $white!important;
		}
		.icon{
			color: $white;
			font-size: rem(30);
			margin-right: rem(12);
		}

		@extend .btn;
		&--wa{
			@extend .btn-success;
		}
		&--vb{
			@extend .btn-purple;
		}
		&--tg{
			@extend .btn-primary;
		}
	}
	//
	&__bot-row{
		padding-bottom: rem(60);
		@include media-breakpoint-up(xl){
			padding-bottom: rem(120);
		}

		@include roww(rem(24));
	}
	&__link{
		display: flex;
		align-items: center;

		&:hover{
			opacity: .9;
		}
	}
	&__img{
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(24);
		height: rem(24);
		margin-right: rem(12);

		img{
			width: auto;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}
	}
	&__l-txt{
		font-weight: 600;
		line-height: (19/16);
		color: $body-color;
	}
	//
	&__lowest-row{

	}
	&__policy{
		display: inline-block;

		font-weight: 600;
		line-height: (19/16);
		color: $dark;

		position: relative;
		&:before{
			@include mt();
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: currentColor;
		}
	}
	&__logo{
		margin: 0 auto rem(60) auto;
		@include media-breakpoint-up(md){
			margin: 0;
		}

		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(155);

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__development{
		display: flex;
		justify-content: flex-end;
		line-height: (19/16);

		.gray{
			font-weight: 600;
			color: #607286;
		}
		.black{
			font-weight: 600;
			color: $body-color;
		}
	}
	&__{}
	&__{}
}


.bg-txt{
	position: absolute;
	z-index: -1;
	left: 0;
	width: 100%;

	img{
		width: 100%;
		height: auto;
	}
}