// start .sRews
.sRews {
	.section-title{
		position: relative;
		z-index: 5;
	}
	// --sPT: ;
	@include media-breakpoint-up(md) {

		--sPB: #{rem(80)};
	}
		// --sTPB: ;
		.container-fluid{
			position: relative;
			z-index: 2;
			.text{
				z-index: -1;
				position: absolute;
				left: 0;
				top: 0;
				transform: translateY(-60%);
				text-align: center;
			}
		}
		

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sRews

.rew-item{
	border-radius: rem(10);
	position: relative;
	height: 100%;
	@include media-breakpoint-up(sm) {
	&:hover{
		picture	img{
			transform: scale(1.12);
			}
		}
		}
	// overflow: hidden;
	&__video{
		@include mt;
		&:hover{
			box-shadow: 0px 5px 15px rgba(45, 55, 65, 0.1);
		}

		@include block;
		border-radius: rem(10);
		overflow: hidden;
		cursor: pointer;
		overflow: hidden;
		&::after{
			content: '';
			position: absolute;
			background: linear-gradient(0deg, rgba(96, 114, 134, 0.25), rgba(96, 114, 134, 0.25));
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		img{
			@include mt(.6s);
		}
		&:hover{
			// img{
				// 	transform: scale(1.12);
				// }
			}
		}
		&__play{
			@include a-cent1;
			width: rem(68);
			height: rem(68);
			border-radius: 50%;
			background-color: #fff;
			z-index: 4;
			
			&::before{
				content: '';
				@include a-cent1;
				@include triangle(32px 24px,$danger, right);
				margin-left: 2%;
			}
		}
		&__block{
		border: 1px solid #D6E0EA;
		padding: $grid-gutter-width ;
		background-color: #fff;
		@include mt;
		&:hover{
			box-shadow: 0px 5px 15px rgba(45, 55, 65, 0.1);
		}
		
		border-radius: rem(10);
		height: 100%;
	}
	&__avatar-block{
		position: relative;
		display: flex;
		align-items: center;
		img{
			width: rem(80);
			height: rem(80);
			border-radius: 50%;
			object-fit: cover;
		}

	}
	&__soc{
		width: rem(32);
		height: rem(32);
		margin-left: rem(-16);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: var(--color);
		color: #fff;
		.icon{
			font-size: rem(16);
		}
	}

}

.star-block{
	.icon{
		font-size: 1rem;
		margin-left: rem(8);
		color: #f2f4f8;
		&.active{
			color:  #F6BC00;
		}
	}
}