// start .sCuisine
.sCuisine {
	// --sPT: #{rem(80)};
	// --sPB: #{rem(80)};
	// --sTPB: #{rem(60)};
	// @include media-breakpoint-up(md){
	// 	--sPT: #{rem(80)};
	// 	--sPB: #{rem(80)};
	// 	--sTPB: #{rem(60)};
	// }
	// @include media-breakpoint-up(xl){
	// 	--sPT: #{rem(100)};
	// 	--sPB: #{rem(100)};
	// 	--sTPB: #{rem(80)};
	// }
	// @include media-breakpoint-up(xxl){
	// 	--sPT: #{rem(90)};
	// 	--sPB: #{rem(92)};
	// 	--sTPB: #{rem(66)};
	// }

	position: relative;
	z-index: 1;
	&__bg{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__row{
		@extend .default-row;

		padding-bottom: rem(60);
		@include media-breakpoint-up(xl){
			padding-bottom: rem(80);
		}
		@include media-breakpoint-up(xxl){
			padding-bottom: rem(90);
		}
	}
	&__item{
		background: $white;
		border: 1px solid $gray-100;
		border-radius: rem(10);
		
		padding: rem(48) rem(24);
		@include mt;
		transform: scale(1);
		&:hover{
			transform: scale(1);
			box-shadow: 0 rem(5) rem(15) rgba(45, 55, 65, 0.1);
			.sCuisine__img img{
					@include media-breakpoint-up(sm) {
				transform: scale(1.12);

			}
			}
		}
	}
	&__img{
		width: rem(200);
		height: rem(200);
		border-radius: 50%;

		margin-left: auto;
		margin-right: auto;
		position: relative;
		overflow: hidden;
			img{
			@include mt(.6s);
		}
		&:hover{

		 
		}  
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		margin-bottom: rem(24);
	}
	&__name{
		font-weight: 600;
		font-size: rem(26);
		line-height: 1.5;

		text-align: center;
		margin-bottom: rem(12);
	}
	&__descr{
		line-height: 1.75;
		margin-bottom: rem(12);
	}
	&__price{
		font-weight: 600;
		font-size: rem(26);
	}

	//
	&__btn-cont{

	}
	&__btn{
		@extend .btn;
		@extend .btn-danger;

		padding: rem(20);
		min-width: rem(300);
	}
	//
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sCuisine