
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			+e.title Заказать звонок
			p.text-center Заполните форму, и мы свяжемся с Вами в ближайшее время
			+input("Ваше Имя")(required)  
			+input("Ваш телефон",'tel')(required)  
			+e.BUTTON.btn.btn(type="submit"  ) Отправить
			+polite()
	// #modal-call
	+b.modal-win--lg.p-0(id="modal-team" class=" " style="display: none" )
	// #modal-team
	+b.modal-win--lg.--order(id="modal-order" class=" " style="display: none" )
		+form-wrap
			+e.title Забронировать #[span.text-primary «Полный комплект»]
			+b.SECTION.sRent
				+e.t-head.d-none.d-xl-block
					+e.row.row.align-items-center
						+e.img-col.col-auto
							+e.th-txt--img-title Снаряжение
						+e.data-col.col
							+e.data-sub-row.row
								+e.chars-col.col
									+e.chars-row.row.align-items-center
										.col-3
											+e.th-txt Час
										.col-3
											+e.th-txt День
										.col-3
											+e.th-txt Неделя
										.col-3
											+e.th-txt Месяц 
				+e.items
					+sRentItem({
						imgNum: 1,
						name: 'Полный комплект',
						list: true,
						pHour: '1 800 ₽',
						pDay: '4 500 ₽',
						pWeek: '18 000 ₽',
						pMonth: '43 000 ₽',
						modal: true
					})

			p.text-center Заполните форму, и мы свяжемся с Вами в ближайшее время
			.container
				.row 
					.col-lg-6 
						+input("__.__.____",'date')(required)  
					.col-lg-6 
						+input("__.__.____",'date')(required)  
					.col-lg-6 
						+input("Ваше Имя")(required)  
					.col-lg-6 
						+input("Ваш телефон",'tel')(required)  
				+e.BUTTON.btn.btn(type="submit"  ) Забронировать оборудование
				+polite()

	// #modal-order
	+b.modal-win--lg.--text(id="modal-rules" class=" " style="display: none" )
		+form-wrap
			+e.title.pb-3 Правила и&nbsp;условия аренды кайт снаряжения в&nbsp;Кайт школе &laquo;ГагаринКайт&raquo; Крым, Межводное
			ol 
				li  Необходимо иметь сертификацию IKO не&nbsp;ниже уровня&nbsp;3K (умеете контролировать скорость, контролируемо останавливаться, умеете зарезаться вверх по&nbsp;ветру). Если у&nbsp;вас нет сертификата IKO, вы&nbsp;можете взять пол часа с&nbsp;инструктором за&nbsp;1500&nbsp;рублей, и&nbsp;кайт школа GagarinKite выдаст вам сертификат, конечно&nbsp;же, если ваши навыки соответствуют заявленным.
				li  Владелец оборудования (кайт школа &laquo;ГагаринКайт&raquo;) и&nbsp;арендатор обязуются проверить оборудование перед и&nbsp;после эксплуатации на&nbsp;предмет поломок, разрывов, порезов или иных повреждений.
				li   Если перед эксплуатацией оборудование оказывается непригодным для использования, то&nbsp;владелец&nbsp;&mdash; кайт школа, обязуется выдать другой комплект оборудования. Если перед эксплуатацией на&nbsp;оборудовании замечено незначительное повреждение, которое не&nbsp;приведет к&nbsp;поломке (например, порез, который можно заклеить), и&nbsp;это устраивает обе стороны, то&nbsp;данное оборудование сдается в&nbsp;аренду.
				li   Время аренды оборудования (кайта, планки управления кайтом, кайт борда, трапеции, гидроодежды, спасательного жилета, шлема) начинается после проверки оборудования арендатором и&nbsp;владельцем и&nbsp;заканчивается после проверки оборудования арендатором и&nbsp;владельцем. + 15&nbsp;минут бесплатно на&nbsp;сборку и&nbsp;разборку кайта, в&nbsp;случае, если в&nbsp;аренде кайт или планка управления кайтом. По&nbsp;окончании времени аренды оборудования арендатор&nbsp;&mdash; клиент обязуется аккуратно сложить оборудование так, чтобы не&nbsp;причинить ему вред. Если по&nbsp;окончании времени проката кайт школа берет оборудование в&nbsp;личное пользование или передаёт снаряжение другому клиенту, в&nbsp;этом случае арендатор&nbsp;&mdash; клиент не&nbsp;складывает оборудование, но&nbsp;при передаче проводится осмотр оборудования обеими сторонами.
				li Чтобы взять оборудование в&nbsp;аренду, арендатор оставляет залог за&nbsp;оборудование в&nbsp;размере 15&nbsp;000&nbsp;руб. Если арендатор причиняет ущерб оборудованию на&nbsp;сумму не&nbsp;превышающую сумму залога, тогда сумма ущерба вычитается из&nbsp;залога, а&nbsp;остаток возвращается арендатору . Сумму ущерба определяет владелец оборудования по&nbsp;формуле &laquo;потеря рентабельности оборудования + стоимость ремонта оборудования = сумма ущерба&raquo; (вычисляется для каждой единицы отдельно, так что повредив планку на&nbsp;13&nbsp;000&nbsp;руб., кайт на&nbsp;10&nbsp;000&nbsp;руб.&nbsp;и&nbsp;кайт борд на&nbsp;5&nbsp;000 руб арендатор обязан уплатить сумму ущерба оборудования, но&nbsp;не&nbsp;обязан его приобретать ). Если сумма ущерба единицы оборудования превышает сумму залога, тогда арендатор обязан приобрести данную единицу оборудования за&nbsp;сумму указанную на&nbsp;каждом мешке из&nbsp;под кайта, кайтборде или трапеции.

				button.btn-center.mt-5(type="button").modal-close-js Я ознакомился
	// #modal-order
	
	
	// end modals