.fancybox-slide--html .fancybox-close-small{
	padding: 0;
	text-align: center;
	justify-content: center;
	display: flex;
	height: auto;
	width: auto;
	margin-top: 20px;
	margin-right: 20px;

}
.fancybox-is-open .fancybox-bg{

	opacity: 0.5;
}

.fancybox-bg{
	@include media-breakpoint-up(lg){
	background: #607286;
	// opacity: 0.5;
	
}
@include media-breakpoint-down(lg){
	opacity: 1 !important;
}
background: #fff;
// opacity: 1;
}
.fancybox-button {
	svg{
		width: 30px;
		height: 30px;
		color: #D6E0EA;
		opacity: 1 !important;
		
	}
}
.modal-win {
	// display: block;
		@include media-breakpoint-down(sm) {
			padding-left: rem(18);
			padding-right: rem(18);
		}
		@include media-breakpoint-down(lg) {
			position: static;
		}
	width: 100%;
	position: relative;
	max-width: rem(640);
	&--lg{
	max-width: rem(1320);

}
	@include media-breakpoint-up(lg){

		border: 1px solid #D6E0EA; 
		box-shadow: 0px 5px 15px rgba(45, 55, 65, 0.1);
		border-radius: 10px;
	}

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	&__text-block{
		@include media-breakpoint-up(sm) {
			padding: rem(60) rem(47);
			background: #F6F8FB;
		}
		padding: rem(30) rem(18);
		h5{
			margin-bottom: rem(24);
		}
	}
	.form-wrap--team{
		margin-left: auto;
		margin-right: auto;
		.row{
			align-items: center;
		}
			@include media-breakpoint-up(lg){

				max-width: rem(312);
				* {

					text-align: center !important;
				}
			}
				@include media-breakpoint-up(sm){
					*{
						text-align: left !important;
					}
				}
				*{
					text-align: center !important;
				}

		picture{
			width: var(--size);
			height: var(--size);
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-up(lg){
				--size: #{rem(312)};
			} 
			@include media-breakpoint-up(md){
				--size: #{rem(336)};
			}
			--size: #{rem(264)};

			overflow: hidden;
			border-radius: 50%;
			margin-bottom: rem(30);
			flex:  0 0 auto;
		}
	}

	li{
		margin-left: rem(20);
		margin-bottom: rem(12);
		&::marker{
			color: $danger;
		}
		strong{
			font-weight: 600;
		}
		span{
			color: $primary;
		}
	}
	&--order{
		.form-wrap{
			&__input{
				text-align: left;
			}
		
		}
	}
	.sRent{
		background: transparent;
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}

.modal-hotel{
	--img-ar: #{(316/540) * 100%};
	@include media-breakpoint-up(sm){
		--img-ar: #{(480/816) * 100%};
	}
	@include media-breakpoint-up(xl){
		--img-ar: #{(371/500) * 100%};
	}
	@include media-breakpoint-up(xxl){
		--img-ar: #{(415/560) * 100%};
	}


	&__descr{
		line-height: 1.75;
		margin-bottom: rem(60);
	}
	&__items{

	}
	&__item{
		&:nth-child(odd){
			--row-fl-dir: row-reverse;

			--txt-col-pl: #{rem(20)};
			@include media-breakpoint-up(xxl){
				--txt-col-pl: #{rem(24)};
			}
		}
		&:nth-child(even){
			--row-fl-dir: row;

			--txt-col-pl: #{rem(90)};
			@include media-breakpoint-up(xxl){
				--txt-col-pl: #{rem(84)};
			}
		}

		padding-bottom: rem(60);
		&:last-child{
			padding-bottom: 0;
		}
	}
	&__row{
		@extend .default-row;

		--bs-gutter-y: #{rem(30)} !important;
		@include media-breakpoint-up(lg){
			--bs-gutter-y: #{rem(45)} !important;
		}
		@include media-breakpoint-up(xl){
			flex-direction: var(--row-fl-dir, row);
		}
	}
	//
	&__slider-wrap{
		.swiper-container{
			border-radius: rem(10);
			box-shadow: 0px rem(5) rem(15) rgba(45, 55, 65, 0.1);
		}
		.swiper-wrapper{

		}
		.swiper-slide{
			width: 100%;
			height: auto;
		}
	}
	&__slide-img{
		@extend .accept-ratio-frame;
		padding-top: var(--img-ar, #{(9/16) * 100%});
		border-radius: rem(10);
	}
	.swiper-button-hand{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&-prev{
			left: rem(24);
		}
		&-next{
			right: rem(24);
		}
	}

	//
	&__txt-col{
		@include media-breakpoint-up(xl){
			padding-left: var(--txt-col-pl) !important;
		}
	}
	&__name{
		font-weight: 600;
		font-size: rem(26);
		margin-bottom: rem(12);
	}
	&__price{
		font-weight: 600;
		line-height: 1.5;

		margin-bottom: rem(24);
		@include media-breakpoint-up(xl){
			margin-bottom: rem(12);
		}
	}
	&__list-wrap{
		&.two-columned{
			ul{
				@include media-breakpoint-up(lg){
					columns: 2;
				}
			}
		}
		ul{
			//@extend .red-dot-ul;
			margin: 0 0 rem(30);
			@include media-breakpoint-up(sm){
				margin: 0 0 rem(45);
			}
			@include media-breakpoint-up(xl){
				margin: 0 0 rem(24);
			}

			@include media-breakpoint-down(md){
				columns: 2!important;
			}
			@include media-breakpoint-down(xl){
				columns: 3!important;
			}
		}
	}
	&__armor-btn{
		@extend .btn;
		@extend .btn-outline-danger;

		padding: rem(10) rem(20);
		min-width: rem(224);
	}
	//
	&__map-inner{

	}
	//
	&__{}
	&__{}
}

.map-cont{
	display: block;

	height: rem(593);
	@include media-breakpoint-up(lg){
		height: rem(480);
	}

	border-radius: 5px;
	overflow: hidden;

	#map{
		width: 100%!important;
		height: 100% !important;
	}
}