mixin modal()
	//  start modals
	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			+e.title Заказать звонок
			p.text-center Заполните форму, и мы свяжемся с Вами в ближайшее время
			+input("Ваше Имя")(required)  
			+input("Ваш телефон",'tel')(required)  
			+e.BUTTON.btn.btn(type="submit"  ) Отправить
			+polite()
	// #modal-call
	+b.modal-win--lg.p-0(id="modal-team" class=" " style="display: none" )
	// #modal-team
	+b.modal-win--lg.--order(id="modal-order" class=" " style="display: none" )
		+form-wrap
			+e.title Забронировать #[span.text-primary «Полный комплект»]
			+b.sRent
				+e.t-head.d-none.d-xl-block
					+e.row.row.align-items-center
						+e.img-col.col-auto
							+e.th-txt--img-title Снаряжение
						+e.data-col.col
							+e.data-sub-row.row
								+e.chars-col.col
									+e.chars-row.row.align-items-center
										.col-3
											+e.th-txt Час
										.col-3
											+e.th-txt День
										.col-3
											+e.th-txt Неделя
										.col-3
											+e.th-txt Месяц 
				+e.items
					+sRentItem({
						imgNum: 1,
						name: 'Полный комплект',
						list: true,
						pHour: '1 800 ₽',
						pDay: '4 500 ₽',
						pWeek: '18 000 ₽',
						pMonth: '43 000 ₽',
						modal: true
					})

			p.text-center Заполните форму, и мы свяжемся с Вами в ближайшее время
			.container
				.row 
					.col-lg-12
						+input("__.__.____")(required class="date")  
					//- .col-lg-6 
					//- 	+input("__.__.____")(required class="date") 
					.col-lg-6 
						+input("Ваше Имя")(required)  
					.col-lg-6 
						+input("Ваш телефон",'tel')(required)  
				+e.BUTTON.btn.btn(type="submit"  ) Забронировать оборудование
				+polite()

	// #modal-order
	+b.modal-win--lg.--text(id="modal-rules" class=" " style="display: none" )
		+form-wrap
			+e.title.pb-3 Правила и&nbsp;условия аренды кайт снаряжения в&nbsp;Кайт школе &laquo;ГагаринКайт&raquo; Крым, Межводное
			ol 
				li  Необходимо иметь сертификацию IKO не&nbsp;ниже уровня&nbsp;3K (умеете контролировать скорость, контролируемо останавливаться, умеете зарезаться вверх по&nbsp;ветру). Если у&nbsp;вас нет сертификата IKO, вы&nbsp;можете взять пол часа с&nbsp;инструктором за&nbsp;1500&nbsp;рублей, и&nbsp;кайт школа GagarinKite выдаст вам сертификат, конечно&nbsp;же, если ваши навыки соответствуют заявленным.
				li  Владелец оборудования (кайт школа &laquo;ГагаринКайт&raquo;) и&nbsp;арендатор обязуются проверить оборудование перед и&nbsp;после эксплуатации на&nbsp;предмет поломок, разрывов, порезов или иных повреждений.
				li   Если перед эксплуатацией оборудование оказывается непригодным для использования, то&nbsp;владелец&nbsp;&mdash; кайт школа, обязуется выдать другой комплект оборудования. Если перед эксплуатацией на&nbsp;оборудовании замечено незначительное повреждение, которое не&nbsp;приведет к&nbsp;поломке (например, порез, который можно заклеить), и&nbsp;это устраивает обе стороны, то&nbsp;данное оборудование сдается в&nbsp;аренду.
				li   Время аренды оборудования (кайта, планки управления кайтом, кайт борда, трапеции, гидроодежды, спасательного жилета, шлема) начинается после проверки оборудования арендатором и&nbsp;владельцем и&nbsp;заканчивается после проверки оборудования арендатором и&nbsp;владельцем. + 15&nbsp;минут бесплатно на&nbsp;сборку и&nbsp;разборку кайта, в&nbsp;случае, если в&nbsp;аренде кайт или планка управления кайтом. По&nbsp;окончании времени аренды оборудования арендатор&nbsp;&mdash; клиент обязуется аккуратно сложить оборудование так, чтобы не&nbsp;причинить ему вред. Если по&nbsp;окончании времени проката кайт школа берет оборудование в&nbsp;личное пользование или передаёт снаряжение другому клиенту, в&nbsp;этом случае арендатор&nbsp;&mdash; клиент не&nbsp;складывает оборудование, но&nbsp;при передаче проводится осмотр оборудования обеими сторонами.
				li Чтобы взять оборудование в&nbsp;аренду, арендатор оставляет залог за&nbsp;оборудование в&nbsp;размере 15&nbsp;000&nbsp;руб. Если арендатор причиняет ущерб оборудованию на&nbsp;сумму не&nbsp;превышающую сумму залога, тогда сумма ущерба вычитается из&nbsp;залога, а&nbsp;остаток возвращается арендатору . Сумму ущерба определяет владелец оборудования по&nbsp;формуле &laquo;потеря рентабельности оборудования + стоимость ремонта оборудования = сумма ущерба&raquo; (вычисляется для каждой единицы отдельно, так что повредив планку на&nbsp;13&nbsp;000&nbsp;руб., кайт на&nbsp;10&nbsp;000&nbsp;руб.&nbsp;и&nbsp;кайт борд на&nbsp;5&nbsp;000 руб арендатор обязан уплатить сумму ущерба оборудования, но&nbsp;не&nbsp;обязан его приобретать ). Если сумма ущерба единицы оборудования превышает сумму залога, тогда арендатор обязан приобрести данную единицу оборудования за&nbsp;сумму указанную на&nbsp;каждом мешке из&nbsp;под кайта, кайтборде или трапеции.

				button.btn-center.mt-5(type="button").modal-close-js Я ознакомился
	// #modal-order
	+b.modal-win--lg.--text(id="modal-hotel" class=" " style="display: none" )
		.form-wrap__title.pb-3 Гостиница «Караван Сарай»
		+b.modal-hotel
			+e.descr.text-center
				| Мы предлагаем поселиться в гостинице КАРАВАН-САРАЙ. Это самый ближайший отель к кайт споту. Он находится всего в 1 км от кайт-школы GAGARIN KITE прямо на берегу Черного моря. При бронировании через нас вы получите скидку.
				br
				br
				| На территории гостиницы есть свой собственный мини пляж, детская площадка, столовая, кухня для пользования постояльцев и парковка.
			+e.items
				+modHotelItem({
					name: 'Однакомнатные апартаменты «ЛЮКС»',
					price: '2 800 ₽ в сутки',
					listClasses: 'one-columned',
				})
					li Телевизор
					li Диван, стол, стулья
					li Двуспальная кровать
					li Балкон
					li Кухня со всем необходимым
					li Интернет
				+modHotelItem({
					name: 'Двухкомнатные апартаменты «ЛЮКС»',
					price: '4 000 ₽ в сутки',
					listClasses: 'two-columned',
				})
					li Терраса
					li Кухня
					li Две спальни
					li Гостиная
					li Туалет
					li Душ
					li Телевизор
					li Wi-Fi
				+modHotelItem({
					name: 'Номер «СТАНДАРТ»',
					price: '1 800 ₽ в сутки',
					listClasses: 'two-columned',
				})
					li 2 отдельные кровати
					li Телевизор
					li Шкаф, стол, стулья
					li Холодильник
					li Туалет
					li Душ
					li Чайник
					li Интернет
	//-
	+b.modal-win(id="modal-reserve" class=" " style="display: none" )
		+form-wrap
			+e.title
				span
					| Забронировать Гостиница
					|
				span.text-primary «Караван Сарай»
			p.text-center Выберите период, на который хотите забронировать:
			+input("__.__.____")(required class="date")  
			+input("Ваше Имя")(required)
			+input("Ваш телефон",'tel')(required)
			+e.BUTTON.btn.btn(type="submit"  ) Забронировать
			+polite()
	//-
	+b.modal-win(id="modal-transfer" class=" " style="display: none" )
		+form-wrap
			+e.title Забронировать трансфер
			p.text-center
				| Мы заберем вас из Симферополя и довезем в Межводное.
				|
				br
				| Укажите дату и время приезда:
			+input("__.__.____")(required class="date") 
			+input('10:00', 'select')
			+input("Ваше Имя")(required)
			+input("Ваш телефон",'tel')(required)
			+e.BUTTON.btn.btn(type="submit"  ) Забронировать
			+polite()
	//-
	+b.modal-win--lg.--text(id="modal-map" class=" " style="display: none" )
		.form-wrap__title.pb-3 Карта проезда
		+b.map-cont
			<div style="position:relative;overflow:hidden;"><a href="https://yandex.by/maps?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Яндекс.Карты</a><a href="https://yandex.by/maps/?ll=33.473526%2C45.267065&mode=routes&rtext=44.948237%2C34.100318~45.574374%2C32.840646&rtt=auto&ruri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D34.100%252C44.948%26spn%3D0.171%252C0.113%26text%3D%25D0%25A3%25D0%25BA%25D1%2580%25D0%25B0%25D1%2597%25D0%25BD%25D0%25B0%252C%2520%25D0%2590%25D0%25B2%25D1%2582%25D0%25BE%25D0%25BD%25D0%25BE%25D0%25BC%25D0%25BD%25D0%25B0%2520%25D0%25A0%25D0%25B5%25D1%2581%25D0%25BF%25D1%2583%25D0%25B1%25D0%25BB%25D1%2596%25D0%25BA%25D0%25B0%2520%25D0%259A%25D1%2580%25D0%25B8%25D0%25BC%252C%2520%25D0%25A1%25D1%2596%25D0%25BC%25D1%2584%25D0%25B5%25D1%2580%25D0%25BE%25D0%25BF%25D0%25BE%25D0%25BB%25D1%258C~ymapsbm1%3A%2F%2Fgeo%3Fll%3D32.841%252C45.574%26spn%3D0.055%252C0.060%26text%3D%25D0%25A3%25D0%25BA%25D1%2580%25D0%25B0%25D1%2597%25D0%25BD%25D0%25B0%252C%2520%25D0%2590%25D0%25B2%25D1%2582%25D0%25BE%25D0%25BD%25D0%25BE%25D0%25BC%25D0%25BD%25D0%25B0%2520%25D0%25A0%25D0%25B5%25D1%2581%25D0%25BF%25D1%2583%25D0%25B1%25D0%25BB%25D1%2596%25D0%25BA%25D0%25B0%2520%25D0%259A%25D1%2580%25D0%25B8%25D0%25BC%252C%2520%25D0%25A7%25D0%25BE%25D1%2580%25D0%25BD%25D0%25BE%25D0%25BC%25D0%25BE%25D1%2580%25D1%2581%25D1%258C%25D0%25BA%25D0%25B8%25D0%25B9%2520%25D1%2580%25D0%25B0%25D0%25B9%25D0%25BE%25D0%25BD%252C%2520%25D1%2581%25D0%25B5%25D0%25BB%25D0%25BE%2520%25D0%259C%25D1%2596%25D0%25B6%25D0%25B2%25D0%25BE%25D0%25B4%25D0%25BD%25D0%25B5&utm_medium=mapframe&utm_source=maps&z=10.32" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс.Карты</a><iframe src="https://yandex.by/map-widget/v1/-/CCU4aBhrXA" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
	//-
	+b.modal-win--lg.--text(id="modal-shedule" class=" " style="display: none" )
		.form-wrap__title.pb-3 Расписание проезда
		+b.mw-shdeule
			+e.items
				-for(var i = 0; i < 6; i++)
					+mwShedule()
	+b.modal-win(id="modal-thanks" class=" " style="display: none" )
		+form-wrap
			+e.title Забронировать трансфер
			p.text-center Мы свяжемся с Вами в ближайшее время для уточнения деталей
			+e.btn.modal-close-js(type='button') Закрыть
	
	.d-none
		+b.modal-win--lg.--qwiz(class=" " id="modal-qwiz" )
				+form-wrap
					+e.head
						+e.title Подобрать программу
						p.text-center Пройдите опрос и&nbsp;узнайте какая программа обучения вам подходит и&nbsp;сколько она будет стоить 
						+b.progress
							p.fw-600 Вопрос #[span.progress-step 1] из 5
							+e.line
								+e.bar
					+e.body
						mixin step(t, f)
							+e.step.text-center&attributes(attributes)
								.h5!= t
								block
								if !f
									+e.footer.mt-a
										button.btn-center.btn-nav.btn-next(type="button") Продолжить
										+e.back.btn-nav.btn-back
											+icon("chevron-left")
											| Вернуться назад
								else
									button.btn-center(type="submit") Отправить
									+polite
						+step('1. Укажите ваш пол:').active
							+e.row.row.justify-content-center
								+e.col.col-lg-3.col-6
									+radioT('Мужской','st-1')(checked)
								+e.col.col-lg-3.col-6
									+radioT('Женский','st-1')
						+step('2. Укажите ваш рост и вес:')
							+input('180 см').qwiz-radio-btn
							+input('80 кг').qwiz-radio-btn
						+step('3. Укажите уровень вашего катания:')
							+e.row.row.justify-content-center
								+e.col.col-lg-3.col-6
									+radioT('Нулевой','st-3')(checked)
								+e.col.col-lg-3.col-6
									+radioT('Начальный','st-3')
								+e.col.col-lg-3.col-6
									+radioT('Продвинутый','st-3')
								+e.col.col-lg-3.col-6
									+radioT('Профессиональный','st-3')
						+step('4. Нужна ли аренда оборудования?')
							+e.row.row.justify-content-center
								+e.col.col-lg-3.col-6
									+radioT('Да','st-1')(checked)
								+e.col.col-lg-3.col-6
									+radioT('Нет','st-1')
						+step(`Укажите ваши контактные данные, мы&nbsp;свяжемся с&nbsp;вами и&nbsp;предложим подходяющую под вас программу обучения:`,'f')
							+input('Ваше имя')
							+input('Ваш телефон','tel')

	// end modals
mixin mwShedule()
	+e.item
		+e.row.row.align-items-center
			+e.time-col.col-auto 10:00
			+e.name-col.col Наименование маршрута
			+e.number-col.col-auto Номер автобуса

mixin modHotelItem(data)
	+e.item
		.text-center.d-xl-none.d-xl-none
			+e.name=data.name
			+e.price=data.price
		+e.row.row.align-items-center
			.col-xl-6
				+sPlaceSlider()
			+e.txt-col.col-xl-6
				+e.name.d-none.d-xl-block=data.name
				+e.price.d-none.d-xl-block=data.price
				+e.list-wrap(class=`${data.listClasses}`)
					ul
						block
				+e.btn-cont.text-center.text-xl-start
					+e.armor-btn.link-modal-js(href='#modal-reserve') Забронировать
			
