.fancybox-slide--html .fancybox-close-small{
	padding: 0;
	text-align: center;
	justify-content: center;
	display: flex;
	height: auto;
	width: auto;
	margin-top: 20px;
	margin-right: 20px;
	opacity: 1;
	opacity: 1 !important;
	svg{
		opacity: 1;
		width: 30px;
		height: 30px;
		color: #607286;
		opacity: 1 !important;
		
	}
	
}
.fancybox-is-open .fancybox-bg{
	
	@include media-breakpoint-up(sm){
	opacity: 0.5;
}
}

.fancybox-bg{
	@include media-breakpoint-up(sm){
		background: #607286;
		// opacity: 0.5;
	
	}
	background: #fff;
	// opacity: 1;
}
.fancybox-is-open{
	@include media-breakpoint-down(lg){
	 .fancybox-bg	{
			// opacity: 1  ;
		}
	}
}
.fancybox-slide--html {
    padding: 0;
}
.fancybox-button {
}
.modal-win {

	.swiper-pagination{
		position: absolute;
		bottom: 20px;
		top: auto;
	}
	// display: block;
		@include media-breakpoint-down(sm) {
			padding-left: rem(18);
			padding-right: rem(18);

		}
		@include media-breakpoint-up(sm) {

			max-width: rem(640);
			&--lg{
			max-width: rem(1320);
		
		}
		}
		@include media-breakpoint-down(sm) {
			position: static;
		}
	width: 100%;
	position: relative;
	@include media-breakpoint-up(lg){

		border: 1px solid #D6E0EA; 
		box-shadow: 0px 5px 15px rgba(45, 55, 65, 0.1);
		border-radius: 10px;
	}

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	&__text-block{
		@include media-breakpoint-up(sm) {
			padding: rem(60) rem(47);
			background: #F6F8FB;
		}
		padding: rem(30) rem(18);
		h5{
			margin-bottom: rem(24);
		}
	}
	.form-wrap--team{
		margin-left: auto;
		margin-right: auto;
		.row{
			align-items: center;
		}
			@include media-breakpoint-up(lg){

				max-width: rem(312);
				* {

					text-align: center !important;
				}
			}
				@include media-breakpoint-up(sm){
					*{
						text-align: left !important;
					}
				}
				*{
					text-align: center !important;
				}

		picture{
			width: var(--size);
			height: var(--size);
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-up(lg){
				--size: #{rem(312)};
			} 
			@include media-breakpoint-up(md){
				--size: #{rem(336)};
			}
			--size: #{rem(264)};

			overflow: hidden;
			border-radius: 50%;
			margin-bottom: rem(30);
			flex:  0 0 auto;
		}
	}

	li{
		margin-left: rem(20);
		margin-bottom: rem(12);
		&::marker{
			color: $danger;
		}
		strong{
			font-weight: 600;
		}
		span{
			color: $primary;
		}
	}
	&--order{
		.form-wrap{
			&__input{
				text-align: left;
			}
		
		}
		p.text-center.fw-600{
			margin-bottom: rem(30);
		}
	}
	.sRent{
		background: transparent;
	}

	.sRent__items {
    margin-bottom: rem(48);
}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}

.modal-hotel{
	--img-ar: #{(316/540) * 100%};
	@include media-breakpoint-up(sm){
		--img-ar: #{(480/816) * 100%};
	}
	@include media-breakpoint-up(xl){
		--img-ar: #{(371/500) * 100%};
	}
	@include media-breakpoint-up(xxl){
		--img-ar: #{(415/560) * 100%};
	}


	&__descr{
		line-height: 1.75;
		margin-bottom: rem(60);
	}
	&__items{

	}
	&__item{
		&:nth-child(odd){
			--row-fl-dir: row-reverse;

			--txt-col-pl: #{rem(20)};
			@include media-breakpoint-up(xxl){
				--txt-col-pl: #{rem(24)};
			}
		}
		&:nth-child(even){
			--row-fl-dir: row;

			--txt-col-pl: #{rem(90)};
			@include media-breakpoint-up(xxl){
				--txt-col-pl: #{rem(84)};
			}
		}

		padding-bottom: rem(60);
		&:last-child{
			padding-bottom: 0;
		}
	}
	&__row{
		@extend .default-row;

		--bs-gutter-y: #{rem(30)} !important;
		@include media-breakpoint-up(lg){
			--bs-gutter-y: #{rem(45)} !important;
		}
		@include media-breakpoint-up(xl){
			flex-direction: var(--row-fl-dir, row);
		}
	}
	//
	&__slider-wrap{
		.swiper-container{
			border-radius: rem(10);
			box-shadow: 0px rem(5) rem(15) rgba(45, 55, 65, 0.1);
		}
		.swiper-wrapper{

		}
		.swiper-slide{
			width: 100%;
			height: auto;
		}
	}
 
	&__slide-img{
		@extend .accept-ratio-frame;
		padding-top: var(--img-ar, #{(9/16) * 100%});
		border-radius: rem(10);
	}
	.swiper-button-hand{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&-prev{
			left: rem(24);
		}
		&-next{
			right: rem(24);
		}
	}

	//
	&__txt-col{
		@include media-breakpoint-up(xl){
			padding-left: var(--txt-col-pl) !important;
		}
	}
	&__name{
		font-weight: 600;
		font-size: rem(26);
		margin-bottom: rem(12);
	}
	&__price{
		font-weight: 600;
		line-height: 1.5;

		margin-bottom: rem(24);
		@include media-breakpoint-up(xl){
			margin-bottom: rem(12);
		}
	}
	&__list-wrap{
		&.two-columned{
			ul{
				@include media-breakpoint-up(lg){
					columns: 2;
				}
			}
		}
		ul{
			//@extend .red-dot-ul;
			margin: 0 0 rem(30);
			@include media-breakpoint-up(sm){
				margin: 0 0 rem(45);
			}
			@include media-breakpoint-up(xl){
				margin: 0 0 rem(24);
			}

			@include media-breakpoint-down(md){
				columns: 2!important;
			}
			@include media-breakpoint-down(xl){
				columns: 3!important;
			}
		}
	}
	&__armor-btn{
		@extend .btn;
		@extend .btn-outline-danger;

		padding: rem(10) rem(20);
		min-width: rem(224);
	}
	//
	&__map-inner{

	}
	//
	&__{}
	&__{}
}

.map-cont{
	display: block;

	height: rem(593);
	@include media-breakpoint-up(lg){
		height: rem(480);
	}

	border-radius: 5px;
	overflow: hidden;
	> div,
	iframe,
	#map{
		width: 100%!important;
		height: 100% !important;
	}
}

//
.mw-shdeule{
	&__items{}
	&__item{
		background-color: $light;
		padding: rem(16) rem(24);
		border-radius: rem(5);

		margin-bottom: rem(12);
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__row{
		@extend .default-row;
	}
	&__time-col{
		font-weight: 600;
		line-height: 1.75;
		min-width: rem(70px);
		@include media-breakpoint-up(lg){
			min-width: rem(140px);
		}
	}
	&__name-col{
		line-height: 1.75;
	}
	&__number-col{
		font-weight: 600;
		line-height: 1.75;
	}
	&__{}
}

.modal-win--qwiz{
	min-height: calc(100vh - 6px);
	display: inline-flex !important;
	flex-direction: column;
	// height: 835px;
	.form-wrap{
		width: 100%;
		height: 100%;
		max-width: rem(1144);
		margin-left: auto;
		flex-grow: 1;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		&__body{
			flex-grow: 1;
			display: flex;
			flex-direction: column;
		}
	}
	form{
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	.form-wrap__row {
		max-width: rem(800 + 24 *3);
		width: 100%;
	}
}

.progress{
	&__line{
		background: #F6F8FB;
		border-radius: 5px;
		height: 5px;
	}
	&__bar{
		background: #1495DF;
		border-radius: 5px;
		height: 100%;
		@include mt;
		min-width: 5%;
	}
}
.form-wrap{
	&__step{
		height: 100%;
			@include media-breakpoint-up(xxl) {

				padding-bottom: rem(50);
			}
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
		&:not(.active) {
			display: none;
		}
		padding-top: rem(45);
		.h5{
			margin-bottom: rem(30);
			margin-left: auto;
			margin-right: auto;
			max-width: rem(1000);
		}
		.form-wrap__polite{
			padding-top: rem(30);
		}
	}
	&__col{
		max-width: 50%;

	}
	&__footer{
		position: relative;
		width: 100%;
		padding-top: 1rem;

	}
	&__back{
		cursor: pointer;
		color: #607286;
		left: 0;
		@include media-breakpoint-up(lg) {
			
			position: absolute;
			@include a-cent1(y);
			margin-top: rem(5);
		}
		margin-top: rem(30);
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		@include mt;
		// margin-bottom: rem(30);
		&:hover{
			color: $body-color;
		}
		.icon{
			color: $danger;
			margin-right: rem(14);
			font-size: rem(12);
		}
	}
	&__step{
		&:first-child{
			.form-wrap__back{
				display: none;
			}
		}
		.form-wrap__input-wrap{
			width: 100%;
			max-width: rem(472);
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.radio-text {
	margin-bottom: var(--bs-gutter-x);
	cursor: pointer;
	 
	max-width: 100%;
	input{
		position: absolute;
		@extend .invisible;
	}
	&__title{
		height: rem(80);
		display: flex;
		justify-content: center;
		align-items: center;
		background: #F6F8FB;
		border-radius: 5px;
		border: 2px solid #F6F8FB;
		@include mt;
		font-weight: 600;
	}
	input:checked ~ &__title{
		background-color: #fff;
		border-color: $primary;
	}
	&:hover &__title{
		background-color: #fff;
	}
}

.mt-a{
	margin-top: auto;
}