
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			+e.title Заказать звонок
			p.text-center Заполните форму, и мы свяжемся с Вами в ближайшее время
			+input("Ваше Имя")(required)  
			+input("Ваш телефон",'tel')(required)  
			+e.BUTTON.btn.btn(type="submit"  ) Отправить
			+polite()
	// #modal-call
	+b.modal-win--lg.p-0(id="modal-team" class=" " style="display: none" )
	// #modal-team
	+b.modal-win--lg.--order(id="modal-order" class=" " style="display: none" )
		+form-wrap.container
			+e.title Забронировать #[span.text-primary «Полный комплект»]
			+b.order-block 
				+e.table
					+e.tr--thead
						+e.td--title Снаряжение
						+e.td--title Час
						+e.td--title День
						+e.td--title Неделя
						+e.td--title Месяц
					+e.tr--tbody
						+e.td
							.row 
								.col-auto
									+pic("")
								.col
									.h5 Полный комплект
									ul 
										li Кайт с планкой
										li Доска
										li Трапеция
											span Без гидрокостюма
						+e.td 1 800 ₽ 
						+e.td 4 500 ₽ 
						+e.td 18 000 ₽ 
						+e.td 43 000 ₽

			p.text-center Заполните форму, и мы свяжемся с Вами в ближайшее время
			.row 
				.col-lg-6 
					+input("__.__.____",'date')(required)  
				.col-lg-6 
					+input("__.__.____",'date')(required)  
				.col-lg-6 
					+input("Ваше Имя")(required)  
				.col-lg-6 
					+input("Ваш телефон",'tel')(required)  
			+e.BUTTON.btn.btn(type="submit"  ) Забронировать оборудование
			+polite()

	// #modal-order
	
	
	// end modals