// start .sShop
.sShop {
	//border-top: 1px solid red;

	--sPT: #{rem(80)};
	--sPB: #{rem(80)};
	--sTPB: #{rem(60)};
	@include media-breakpoint-up(md){
		--sPT: #{rem(80)};
		--sPB: #{rem(80)};
		--sTPB: #{rem(60)};
	}
	@include media-breakpoint-up(xl){
		--sPT: #{rem(100)};
		--sPB: #{rem(100)};
		--sTPB: #{rem(80)};
	}
	@include media-breakpoint-up(xxl){
		--sPT: #{rem(90)};
		--sPB: #{rem(90)};
		--sTPB: #{rem(66)};
	}

	position: relative;
	z-index: 1;
	.bg-txt{
		top: rem(450);
		@include media-breakpoint-up(xl){
			top: rem(440);
		}
		@include media-breakpoint-up(xxl){
			top: rem(503);
		}
	}


	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sShop