mixin sShop(data)
	// start sShop
	+b.SECTION.sShop.section#sShop&attributes(attributes)
		//- +b.bg-txt.d-none.d-lg-block
		//- 	img(loading="lazy" src=`img/svg/sShop-txt.svg` alt="")
		.container
			+b.section-title.text-center(class="wow  animate__fadeIn  " )
				h2 Интернет-магазин кайт оборудования
			+e.brands-row.row(class="wow  animate__fadeIn  " )
				+sShopBrand()(checked)
				+sShopBrand(1)
				+sShopBrand(2)
				+sShopBrand(3)
				+sShopBrand(4)
				+sShopBrand(5)
			+e.tr-cont(class="wow  animate__fadeIn  " )
				+e.type-row.row.justify-content-center
					+sShopType('Все', 30)(class="active")
					+sShopType('Кайты', 8)
					+sShopType('Доски', 16)
					+sShopType('Трапеции', 4)
					+sShopType('Гидрокостюмы', 2)
			+e.slider-wrap(class="wow  animate__fadeIn  " )
				.swiper-container.sOffers-slider-js
					.swiper-wrapper
						- for(var i = 0; i < 4; i++)
							+sShopSlide()
					.swiper-pagination.d-sm-none
					+e.arrow-cont.d-sm-none
						+arrow()
			+e.btn-cont.text-center(class="wow  animate__fadeIn  " )
				+e.btn(href="#") Перейти в интернет-магазин
	// end sShop

mixin sShopSlide(name='NORTH REACH KITE 2020')
	.swiper-slide
		+e.item(href="#")
			+e.DIV.name()=name
			+e.DIV.img()
				img(loading="lazy" src='img/@2x/sShop-img.png' alt="")
			+e.DIV.price 72 900 ₽
			+e.buy-btn(type="button") Купить

mixin sShopType(txt, number)
	.col-auto
		+e.type(href="#")&attributes(attributes)
			+e.t-txt=txt
			+e.t-ball=number

mixin sShopBrand(imgNum)
	.col-4.col-lg-2
		+e.LABEL.brand-label
			input(type="checkbox" name=`brand${number}` class='invisible')&attributes(attributes)
			span.brand
				if imgNum
					img(loading="lazy" src=`img/svg/brand-${imgNum}.svg` alt="")
				else
					+e.b-txt Все бренды