.pixel-perfect {
	bottom: 0;
	// top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	//height: 100%;
	background-position: center 0;
	height: 26356px;

	opacity: 0;
	//opacity: 0.7;
} 

.headerBlock{
	min-height: 920px !important;
}

body,
html {

	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
	// overflow-x: hidden;
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	min-width: 570px; 
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: $body-color;
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

// .main-wrapper { 
// 	display: flex;
// 	flex-direction: row; 
// 	// overflow: scroll;
// 	// width: 100%; 
// 	// height: 100vh;
// 	// height: calc(var(--vh, 1vh) * 100);
	
	
// }
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }






.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	padding-bottom: var(--sTPB);
	h2{
		position: relative;
		&::after{
			content: url(../img/@2x/datu-primary.png);
			display: block;
			margin-top: rem(0);
		}
	}
}
h2{
	font-weight: bold;
	
}



.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			@include transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		opacity: 0;
		@include mt;
		&.active {
			display: block;
			opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}


//.swiper-button-hand {
//	@include mt();
//	width: var(--swiperArrowSize);
//	height: var(--swiperArrowSize);
//	border-radius: 50%;
//	background-color: $blue;
//	border: none;
//	color: $white;
//	//@include bgs;
//	z-index: 300;
//	outline: none!important;
//	background-image: none;
//	margin: 0;
//
//	display: flex;
//	align-items: center;
//	justify-content: center;
//	user-select: none;
//
//	&:hover {
//		background-color: var(--swiperBgDefHover);
//		border-color: var(--swiperBorderColorDefHover);
//		color: var(--swiperColorDefHover);
//	}
//
//	.icon {
//		font-size: rem(12);
//	}
//
//	&::after {
//		display: none;
//	}
//
//	&-next {
//		right: var(--swiperArrowPosition);
//	}
//
//	&-prev {
//		left: var(--swiperArrowPosition);
//	}
//}

.swiper-button-hand {
	@extend .btn;
	@extend .btn-primary;
	padding: 0;

	@include mt();
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: $blue;
	border: none;
	z-index: 300;
	outline: none!important;
	background-image: none;
	margin: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;

	&:hover {
		//background-color: var(--swiperBgDefHover);
		//border-color: var(--swiperBorderColorDefHover);
		//color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	}

	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

*::selection {
	color: #fff;
	/* Цвет текста */
	background: var(--bs-primary) ;
	/* Цвет фона */
}



.custom-scroll {
	scrollbar-color: var(--bs-primary)  transparent;

	scrollbar-width: thin;
	scrollbar-color: var(--bs-primary)  transparent;

	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 2px;
		background-color: transparent;
		// border-right: 2px;
		/* or add it to the track */
		border-color: transparent;
		opacity: 0;
		-webkit-box-shadow: none;

	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: var(--bs-primary) ;
		border-radius: 2.5px;
	}

	&::-webkit-scrollbar-button {
		display: none
	}
}


.btn,
.form-control{
	box-shadow: none !important;
}

.btn-primary{
	color: #fff !important;
}
.btn-danger{
	color: #fff !important;
}

//

.accept-ratio-frame {
	display: block;
	width: 100%;
	height: 0;
	position: relative;

	overflow: hidden;
	&:hover {
		img {
			filter: brightness(80%);
		}
	}

	img {
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.accept-ratio-frame-nh {
	display: block;
	width: 100%;
	height: 0;
	position: relative;
	overflow: hidden;

	img {
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.carusel{
	&__slider{
		overflow: visible;
	}
	&__slide{
			@include media-breakpoint-up(sm) {

				width: rem(424);
				&.swiper-slide-active{
					transform: translateY(calc(-1 * #{$grid-gutter-width}));
				}
			}
			width: calc(100% - #{$grid-gutter-width});
		margin-left: calc(#{$grid-gutter-width} / 2);
		margin-right: calc(#{$grid-gutter-width} / 2);
		
		height: auto;
		
		@include mt;
	}
	position: relative;
	.swiper-button-hand{
		@include media-breakpoint-up(sm) {
			
			position: absolute;
			top: 50%;
			transform: translateY(calc(-1 * var(--swiperArrowSize) / 2));
		}
	}
	&__control-wrap{
		display: flex;
		justify-content: center;
		@include media-breakpoint-down(sm) {
			margin-top: rem(60);
			@include roww(24px, m);
		}
	}
}

.default-row{
	@include roww(rem(12));
	--bs-gutter-y: #{rem(12)};
	@include media-breakpoint-up(sm){
		@include roww(rem(16));
		--bs-gutter-y: #{rem(16)};
	}
	@include media-breakpoint-up(xl){
		@include roww(rem(20));
		--bs-gutter-y: #{rem(20)};
	}
	@include media-breakpoint-up(xxl){
		@include roww(rem(24));
		--bs-gutter-y: #{rem(24)};
	}
}