.pixel-perfect {
	bottom: 0;
	//top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	//height: 100%;
	background-position: center 0;
	// height: 26356px;

	opacity: 0;
	// opacity: 0.7;
}

.headerBlock {
	// min-height: 920px !important;
}

body,
html {
	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
	// overflow-x: hidden;
}
html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
}

body {
	&.fixed,
	&.fancybox-active {
		.header {
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	min-width: 570px;
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden;

	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	@include mt;
	// 	background-color: $body-color;
	// 	opacity: 0;
	// 	z-index: -1;
	// 	// left: 200px;
	// 	left: 0;
	// 	// opacity: 1;
	// 	// z-index: 1;
	// 	top: 0;
	// }

	&.fancybox-active {
		overflow: hidden;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.main-wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	padding-top: var(--header-height);
}

.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	padding-bottom: var(--sTPB);
	h2 {
		position: relative;
		&::after {
			content: url(../img/@2x/datu-primary.png);
			display: block;
			margin-top: rem(0);
		}
	}
	&.text-white h2 {
		color: #fff;
		&::after {
			content: url(../img/@2x/datu-white.png);
		}
	}
}
h2 {
	@include media-breakpoint-up(xxl) {
		font-size: rem(60);
	}
	font-weight: bold;
}

.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}

.slick-slide img {
	display: inline;
}

.image-source-link {
	color: #98c3d1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;
	&.l {
		left: 0;
		svg {
			@include transform(rotateY(180deg));
		}
	}
	&.r {
		right: 0;
	}
	svg {
		width: 17px;
		height: auto;
	}
}

.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
}

.tabs__btn-accordion {
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {
		}
	}

	&__content {
		opacity: 0;
		@include mt;
		&.active {
			display: block;
			opacity: 1;
		}

		display: none;
	}
}

.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.control-wrap {
	position: relative;
}

//.swiper-button-hand {
//	@include mt();
//	width: var(--swiperArrowSize);
//	height: var(--swiperArrowSize);
//	border-radius: 50%;
//	background-color: $blue;
//	border: none;
//	color: $white;
//	//@include bgs;
//	z-index: 300;
//	outline: none!important;
//	background-image: none;
//	margin: 0;
//
//	display: flex;
//	align-items: center;
//	justify-content: center;
//	user-select: none;
//
//	&:hover {
//		background-color: var(--swiperBgDefHover);
//		border-color: var(--swiperBorderColorDefHover);
//		color: var(--swiperColorDefHover);
//	}
//
//	.icon {
//		font-size: rem(12);
//	}
//
//	&::after {
//		display: none;
//	}
//
//	&-next {
//		right: var(--swiperArrowPosition);
//	}
//
//	&-prev {
//		left: var(--swiperArrowPosition);
//	}
//}

.swiper-button-hand {
	@extend .btn;
	@extend .btn-primary;
	padding: 0;

	@include mt();
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: $blue;
	border: none;
	z-index: 300;
	outline: none !important;
	background-image: none;
	margin: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;

	&:hover {
		//background-color: var(--swiperBgDefHover);
		//border-color: var(--swiperBorderColorDefHover);
		//color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	}

	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: var(--bs-primary);
		}
	}
}

@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img {
	// content-visibility: auto;
}
picture {
	display: block;
	// position: relative;
	// overflow: hidden;
	img {
		@extend .res-i;
	}
}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}

a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;
}

iframe {
	border: none;
}

*::selection {
	color: #fff;
	/* Цвет текста */
	background: var(--bs-primary);
	/* Цвет фона */
}

.custom-scroll {
	scrollbar-color: var(--bs-primary) transparent;

	scrollbar-width: thin;
	scrollbar-color: var(--bs-primary) transparent;

	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block;
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 2px;
		background-color: transparent;
		// border-right: 2px;
		/* or add it to the track */
		border-color: transparent;
		opacity: 0;
		-webkit-box-shadow: none;
	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: var(--bs-primary);
		border-radius: 2.5px;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}
}

.form-control,
.form-select{
	
}
.btn {
	box-shadow: none !important;
}

.btn-primary {
	color: #fff !important;
}
.btn-danger {
	color: #fff !important;
}

//

.accept-ratio-frame {
	display: block;
	width: 100%;
	height: 0;
	position: relative;

	overflow: hidden;
	&:hover {
		img {
			// filter: brightness(80%);
			transform: scale(1.12);
		}
	}

	img {
		@include mt(.6s);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.accept-ratio-frame-nh {
	display: block;
	width: 100%;
	height: 0;
	position: relative;
	overflow: hidden;

	img {
		@include mt(.6s);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.carusel {
	&__slider {
		overflow: visible;
	}
	&__slide {
		@include media-breakpoint-up(sm) {
			width: rem(424);
			&.swiper-slide-active {
				transform: translateY(calc(-1 * #{$grid-gutter-width}));
			}
		}
		width: calc(100% - #{$grid-gutter-width});
		margin-left: calc(#{$grid-gutter-width} / 2);
		margin-right: calc(#{$grid-gutter-width} / 2);

		height: auto;

		@include mt;
	}
	position: relative;
	.swiper-button-hand {
		@include media-breakpoint-up(sm) {
			position: absolute;
			top: 50%;
			transform: translateY(calc(-1 * var(--swiperArrowSize) / 2));
		}
	}
	&__control-wrap {
		display: flex;
		justify-content: center;
		@include media-breakpoint-down(sm) {
			margin-top: rem(60);
			@include roww(24px, m);
		}
	}
}

.btn-center {
	margin-left: auto;
	margin-right: auto;
	@extend .btn;
	@extend .btn-danger;
	max-width: rem(300);
	display: block;
	width: 100%;
}
.btn-danger{
	&:focus{
		background-color: $danger;
		border-color: $danger;
	}
}
.btn-outline-danger {
	border-width: 2px;
	&:hover {
		color: #fff;
	}
}

.fw-400 {
	font-weight: 400;
}

p {
	// line-height: 175%;
}
.default-row {
	@include roww(rem(12));
	--bs-gutter-y: #{rem(12)};
	@include media-breakpoint-up(sm) {
		@include roww(rem(16));
		--bs-gutter-y: #{rem(16)};
	}
	@include media-breakpoint-up(xl) {
		@include roww(rem(20));
		--bs-gutter-y: #{rem(20)};
	}
	@include media-breakpoint-up(xxl) {
		@include roww(rem(24));
		--bs-gutter-y: #{rem(24)};
	}
}


[type="date"] {
	text-transform: uppercase;
}
input.date,
::-webkit-calendar-picker-indicator {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$danger}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>");
	background-position: calc(100% - 30px) 50%;
	background-repeat: no-repeat;
}

ol {
	padding-left: 0;
	li {
		line-height: 175%;
		&::marker {
			font-weight: 600;
			color: currentColor !important;
		}
	}
}
//
.red-dot-ul {
	list-style: none;
	margin: 0;

	li {
		position: relative;
		padding-left: rem(18);
		&:before {
			content: '';
			position: absolute;
			top: rem(10);
			left: 0;

			width: rem(6);
			height: rem(6);
			border-radius: 50%;
			background-color: $danger;
		}
	}
}

// img.text{
// 	display: block;
// 	margin-left: auto;
// 	margin-right: auto;
// 	// @include a-cent1(x);
// 	width: 100%;
// 	max-width: 1920px;

// }

div.text {
	width: 100%;
	text-align: center;
}

.blesk {
	position: relative;
	overflow: hidden;
	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 2;
		left: -8.75em;
		border-left: 2.5em solid #fff;
		animation: btnAnimLight 2.5s linear infinite;
		transition: opacity 3s linear;
		top: 50%;
		transform: translateY(-50%);
		opacity: 0.2;
		width: 0.0625em;
		height: 0.0625em;
		box-shadow: 0 0 1.875em 4.375em #fff;
	}
}

@keyframes btnAnimLight {
	0% {
		left: -8.75em;
	}
	30% {
		left: 110%;
	}
	40% {
		left: 100%;
		opacity: 0;
	}
	41% {
		left: -8.75em;
	}
	to {
		left: -8.75em;
	}
}


.footer__btn{
	@extend .blesk;
}

.daterangepicker{
	z-index: 99999;
}

.daterangepicker td.active, .daterangepicker td.active:hover{
	background-color: $danger;
}

.daterangepicker .drp-buttons .btn {
	padding: rem(10) rem(20);
}
.btn-default{
	@extend .btn-light;
}