mixin sOffers(data)
	// start sOffers
	+b.SECTION.sOffers.section#sOffers&attributes(attributes)
		.container
			+b.section-title.text-center(class="wow  animate__fadeIn  " )
				h2 Актуальные предложения
			+e.slider-wrap(class="wow  animate__fadeIn  " )
				.swiper-container.sOffers-slider-js
					.swiper-wrapper
						- for(var i = 0; i < 3; i++)
							.swiper-slide
								+sBlogItem({
									addClass: 'offers-item',
									readMore: 'true',
									title: 'Обучение на IKO инструкторов',
								})
					.swiper-pagination.d-lg-none
					+e.arrow-cont.d-lg-none
						+arrow()
	// end sOffers