// start .headerBlock
.headerBlock {
	z-index: 2;
	overflow: hidden;
	// margin-bottom: 1px;
	video,
	iframe{
		position: absolute;
		left: -30%;
		top: -30%;
		width: 160% !important;
		height: 160% !important;
		z-index: -1;
		object-fit: cover;
		
	}
	min-height: 100vh;
	padding-top: calc(var(--header-height) + var(--sPT));
	min-height: calc(var(--vh, 1vh) * 100 );
	text-align: center;
	color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #000;
	&::after{
		content: '';
		position: absolute;
		@include a-cent;
		background: linear-gradient(0deg, rgba(96, 114, 134, 0.3), rgba(96, 114, 134, 0.3));
		z-index: -1;
	}
	h1{
		font-weight: bold;
		margin-bottom: rem(30);
	}
	.row{
			@include media-breakpoint-up(md) {

				justify-content: space-between;
			}
			justify-content: center;
	}


	&__top-text{
		position: relative;
		font-weight: 600;
		@include rfs(20px);
		margin-bottom: rem(30);
		&::after{
			content: url(../img/@2x/datu-white.png);
			display: block;
			text-align: center;
			margin-top: rem(30);
		}
	}

	&__col{
		@include media-breakpoint-up(md) {
			display: block;
			text-align: center;
			max-width: calc(#{rem(300)} + var(--bs-gutter-x));
			margin-left: 0;
			margin-right: 0;
		}
		margin-left: auto;
		margin-right: auto;
		max-width: rem(360);
		text-align: left;
		display: flex;
		align-items: center;
		img{
			@include media-breakpoint-up(md){

				margin-bottom: rem(30);
				margin-right: 0;
			}
			flex:  0 0 auto;
			margin-right: 20px;
		}
		margin-bottom: rem(45);
	}
	&__btn{
		@extend .btn; 
		@extend .btn-danger;
		width: rem(300);
		margin-bottom: rem(50);
	}

	.container{
	@include media-breakpoint-up(xl) {
			max-width: calc(980px );
		}
		flex-grow: 1;
		display: flex;
		// justify-content: center;
		align-items: center;
		flex-direction: column;
		 > div	{
			width: 100%;
		}
	}

	
	&__bottom{
		cursor: pointer;
		color: #fff !important;
		font-weight: 600;
		display: inline-block;
		@include mt;
		.icon{
				font-size: 1rem;
				margin-top: rem(30);
				@include mt;
				position: relative;
				transform: translateY(0);
			}
			&:hover{
				.icon{
					transform: translateY(10px);
					// animation: 2s infinite  bubble;
				}
			}

	}

	

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}

	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {}

}

// end.headerBlock


@keyframes bubble {
 0, 100%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(10px);
	}
}