mixin sInstructors(data)
	// start sInstructors
	+b.SECTION.sInstructors.section#sInstructors&attributes(attributes)
		//- img(src="img/svg/gagarin_team.svg", alt="")
		img.res-i(src="img/svg/gagarin_team.svg", alt="").text.d-none.d-sm-block
		.container
			+b.section-title.text-center(class="wow  animate__fadeIn  " )
				h2 Профессиональные инструкторы
		.container-fluid(class="wow  animate__fadeIn  " )
			+b.carusel
				+e.slider--js.swiper-container 
					.swiper-wrapper 
						mixin slide(i,t)
							+e.slide.swiper-slide
								+b.rew-item
									+e.block
										+e.head
											
											+pic(`in-${i}.jpg`,'bg',0)
											.h5!= t
											.h6.fw-400.text-dark.mb-4!= d
										p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют
										.h5.mb-4 2 000 ₽ в час 
										a.btn.btn-outline-danger.btn-sm.w-100(href="#modal-team").link-modal-team-js Подробнее
										.d-none
											.content-for-modal
												.row.gx-0
													.col-lg-6.align-self-center
														+b.form-wrap--team
															+e.row.row.mx-0
																.col-lg-12.col-sm-auto
																	+pic(`in-${i}.jpg`,'bg',0)
																.col
																	+e.title= t
																	p.mb-2 Главный инструктор и главный Гагарин нашей станции.
																	p.fw-600.mb-2 Инструкторский опыт с 2010 года.
													.col-lg-6
														.modal-win__text-block 
															h5 Об инструкторе
															p Саша само добро, спокойствие и понимание. Вообще, дружелюбие – отличительная черта команды нашей кайт школы, и Саша, как и положено боссу, самый приветливый. Инструктор IKO.

															p Сашу очень любят дети, ведь с ними он сразу находит общий язык, скорее всего потому, что у него уж больно много братьев и сестер.

															p Как инструктор, Саша отличается выдающимся терпением, невозмутимостью и профессиональным подходом.

															p Саша катается и учит на кайте с 2009 года, но раньше увлекался лыжами и сноубордом, работал горнолыжным инструктором.

															p Саша –прорайдер Nobile kiteboarding Russia. Он часто выступает на всевозможных соревнованиях, занимая призовые места.

															p Опытный, спокойный, веселый и терпеливый. Специализируется на продвинутом уровне 
															br
															h5 Об инструкторе
															ul 
																li #[strong 2014 Кубок России Black Sea Cup, ст. Благовещенская] – Фристайл (кат. amators) – #[span 2 место]
																li #[strong 2015 Кубок России п. Оленевка, Крым] – Фристайл – #[span 2 место], TT race – #[span 3 место]
																li #[strong 2017 Чемпионат Таиланда по кайтбордингу] – Фристайл – #[span 2 место]
																li #[strong 2017 Чемпионат Азии по кайтбордингу KTA] – Фристайл – #[span  5 место ]
						+slide(`1`,`Ольга Ковязина`)
						+slide(`2`,`Христина Стрельцова`)
						+slide(`3`,`Александр Щербатенко`)
						+slide(`4`,`Тарас Зимин`)
						+slide(`5`,`Ник Роговенко`) 
					+e.control-wrap
						+arrow
			a.btn-center(href="#" class="wow  animate__fadeIn  " ) Подобрать программу
	// end sInstructors