mixin sInstructors(data)
	// start sInstructors
	+b.SECTION.sInstructors.section#sInstructors&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Профессиональные инструкторы
			.row
	// end sInstructors