mixin sPrices(data)
	// start sPrices
	+b.SECTION.sPrices.section.text-center#sPrices.bg-wrap(class="wow  animate__fadeIn  " )&attributes(attributes)
		+pic("bgr.jpg",'bg',0).picture-bg
		.container
			+b.section-title
				h2 Курсы и цены
		.container-fluid
			+b.carusel
				+e.slider--js.swiper-container 
					.swiper-wrapper 
						mixin slide(t,d,p,pr)
							+e.slide.swiper-slide
								+b.rew-item
									+e.block
										+e.head
											.h4!= t
											.h6.fw-400.text-dark.mb-4!= d
										p!= p
										.h4.mb-4!= pr
										a.btn.btn-outline-danger.btn-sm.w-100(href="#modal-qwiz").link-modal-js Записаться на обучение
						+slide(`Курс 8 часов`,`3-4 дня`,`Вы овладеете навыком управления кайтом, научитесь создавать тягу кайтом, научитесь подводящим упражнениям к водным стартам. Также за 8 часов можно начать вставать на доску. Также вы обязательно получите сертификат IKO, соответствующий вашим навыкам.`,`25 000 ₽`)
						+slide(`Курс 10 часов`,`4-5 дней`,`За 10 часов возможно освоить 1-й и 2-й уровни по системе IKO). 10 часов индивидуальных занятий с инструктором можно освоить за 3-5 дней. Этот курс для тех, кто быстро прогрессирует. Вы обязательно получите сертификат IKO, соответствующий вашим навыкам.`,`29 000 ₽`)
						+slide(`Курс 12 часов`,`4-7 дней`,`Вы научитесь управлять кайтом, ехать на доске в обе стороны, возможно, научитесь двигаться на доске против ветра и разворачиваться. Также вы получите сертификат IKO и море удовольствия. Мы гарантируем, что вы гарантированно освоите первые два уровня обуче`,`33 000 ₽`)
						+slide(`1 час`,` `,`Обучение проходят один на один с инструктором.`,`4 000 ₽`)
						+slide(`Курс 6 часов`,`2-3 дня`,`За это время вы научитесь управлять кайтом, научитесь подводящим упражнениям к водным стартам и, возможно, начнете вставать на доску. Также вы обязательно получите сертификат IKO, соответствующий вашим навыкам.ния кайтсерфингу в школе «Гагарин Кайт» в Межводном.`,`20 000 ₽`)
					+e.control-wrap
						+arrow
			a.btn-center(href="#modal-qwiz").link-modal-js Подобрать программу
	// end sPrices