// start .sPrices
.sInstructors,
.sPrices {
		.rew-item{

			@include media-breakpoint-up(md) {
			padding-bottom: rem(36);
			}
			display: flex;
			flex-direction: column;
		
			&__block{
				flex-grow: 1;
				display: flex;
				flex-direction: column;

				@include mt;
		&:hover{
			box-shadow: 0px 5px 15px rgba(45, 55, 65, 0.1);
		}
			}
		}
		&__head{

		}

		p{
			margin-bottom: rem(24);
			flex-grow: 1;
			line-height: 175%;
			margin-bottom: rem(33);
		}
		.btn{
			max-width: rem(300);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: rem(10);
		}
		@include media-breakpoint-down(sm) {

			.swiper-button-hand{
				margin-left: 11px;
				margin-right: 11px;
				margin-bottom: rem(60);
			}
		}
		.carusel{
			
			@include media-breakpoint-up(sm) {

				padding-bottom: rem(60);
			}
			// margin-bottom: var(--sPB);
			&__slider{
				max-width: reM(424);
			}
		}
		.btn-center{
			margin-bottom: 0;
		}
}
.sPrices {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		h2{
			color: #fff;
			&::after{
				content: url(../img/@2x/datu-white.png);
			}
		}
	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPrices