mixin sRent(data)
	// start sRent
	+b.SECTION.sRent.section#sRent&attributes(attributes)
		+b.bg-txt.d-none.d-lg-block
			img(loading="lazy" src=`img/svg/sRent-txt.svg` alt="")
		.container
			+b.section-title.text-center(class="wow  animate__fadeIn  " )
				h2 Аренда кайт снаряжения
			+e.t-head.d-none.d-xl-block(class="wow  animate__fadeIn  " )
				+e.row.row.align-items-center
					+e.img-col.col-auto
						+e.th-txt--img-title Снаряжение
					+e.data-col.col
						+e.data-sub-row.row
							+e.chars-col.col
								+e.chars-row.row.align-items-center
									.col-3
										+e.th-txt Час
									.col-3
										+e.th-txt День
									.col-3
										+e.th-txt Неделя
									.col-3
										+e.th-txt Месяц
							+e.btn-col.col-auto
			+e.items
				+sRentItem({
					imgNum: 1,
					name: 'Полный комплект',
					list: true,
					pHour: '1 800 ₽',
					pDay: '4 500 ₽',
					pWeek: '18 000 ₽',
					pMonth: '43 000 ₽',
				})(class="wow  animate__fadeIn  " )
				+sRentItem({
					imgNum: 2,
					name: 'Кайт с планкой',
					pHour: '1 500 ₽',
					pDay: '3 500 ₽',
					pWeek: '16 000 ₽',
					pMonth: '35 000 ₽',
				})(class="wow  animate__fadeIn  " )
				+sRentItem({
					imgNum: 3,
					name: 'Доска',
					pHour: '800 ₽',
					pDay: '2 000 ₽',
					pWeek: '10 000 ₽',
					pMonth: '25 000 ₽',
				})(class="wow  animate__fadeIn  " )
				+sRentItem({
					imgNum: 4,
					name: 'Трапеция',
					pHour: '–',
					pDay: '2 000 ₽',
					pWeek: '9 000 ₽',
					pMonth: '–',
				})(class="wow  animate__fadeIn  " )
				+sRentItem({
					imgNum: 5,
					name: 'Гидрокостюм',
					pHour: '–',
					pDay: '1 000 ₽',
					pWeek: '4 000 ₽',
					pMonth: '–',
				})(class="wow  animate__fadeIn  " )
			+e.btn-cont.text-center(class="wow  animate__fadeIn  " )
				+e.read-btn(href='#modal-rules').link-modal-js Читать правила и условия аренды
	// end sRent

mixin sRentItem(data)
	+e.item&attributes(attributes)
		+e.row.row.align-items-center
			//-1
			+e.img-col.col-lg-auto
				+e.img-sub-row.row.align-items-center
					.col-auto
						+e.img
							img(loading='lazy' src=`img/@2x/sRent-${data.imgNum}.jpg` alt="")
					.col
						+e.name=data.name
						if data.list
							+e.chars
								ul
									li Кайт с планкой
									li Доска
									li Трапеция
								+e.red-txt Без гидрокостюма
			//-2
			+e.data-col.col-lg
				+e.data-sub-row.row.align-items-center
					//-chars-col
					+e.chars-col.col-xl
						+e.chars-row.row.align-items-center
							.col-3
								+e.th-txt.d-xl-none Час
								+e.price=data.pHour
							.col-3
								+e.th-txt.d-xl-none День
								+e.price=data.pDay
							.col-3
								+e.th-txt.d-xl-none Неделя
								+e.price=data.pWeek
							.col-3
								+e.th-txt.d-xl-none Месяц
								+e.price=data.pMonth
					//-chars-col
					if !data.modal
						+e.btn-col.col-12.col-xl-auto.text-center.text-lg-end
							+e.btn(href='#modal-order').link-modal-js Забронировать