mixin sKiteStation(data)
	// start sKiteStation
	+b.SECTION.sKiteStation.section#sKiteStation&attributes(attributes)
		+b.bg-txt.d-none.d-lg-block
			img(loading="lazy" src=`img/svg/sKyte-img.svg` alt="")
		.container
			+e.top-row.row.align-items-lg-center
				+e.txt-col.col.text-center.text-lg-start(class="wow  animate__fadeIn  " )
					+b.section-title
						h2 Кайт-станция
					+e.descr Нам совсем не жалко вкладывать средства, чтобы сделать нашу кайт школу еще лучше, еще комфортней для наших гостей, да и для себя. Ведь это и наш дом тоже, вся команда Гагарин кайт живет на споте: кто в палатке, кто в вагончике. Мы постарались сделать кайт станцию максимально уютной и оборудованной всеми благами цивилизации. Мы очень гордимся тем, что у нас получилось, ведь в нашу школу мы вложили самое ценное что у нас есть — душу.
				+e.img-col.col-auto(class="wow  animate__fadeIn  " )
					+sPlaceSlider()
			+e.sub-title.text-center(class="wow  animate__fadeIn  " ) Что есть на кайт-станции Гагарин Кайт:
			+e.pills-row.row
				.col-lg-6
					ul
						li Большая теневая зона
						li Уютный мягкий чилаут, где два раза в неделю мы читаем лекции нашим студентам, днем релаксируем, а по вечерам смотрим фильмы.
						li Два горячих душа и туалет
						li Кухня: газовая плита, мойка, полки, морозилка, холодильник
						li Бар и кафе, где можно выпить  вкусный кофе, свежевыжатый сок и подкрепиться
						li Хостел
						li Гамаки и лежаки
						li WI-FI, так что можно решать важные вопросы не уезжая с кайт спота
						li Электричество: свет и множество розеток. Так что не волнуйтесь, зарядить ноутбук, планшет и телефон вы сможете в любое время
						li Детская игровая комната со множеством игрушек
						li Хранилка для гостей
						li Хранилка школьная
						li Кайт-магазин
				.col-lg-6
					ul
						li Большая взлетно-посадочная полоса, чтобы кайты не царапались о ракушки
						li Опреснялка для кайтов
						li Маленький огород
						li Мини-библиотека
						li Настольные игры
						li Велосипеды в аренду
						li Столовая зона
						li Столики с зонтиками с видом на кайт движуху
						li Палаточный лагерь (у нас можно арендовать палатку с удобствами)
						li Волейбольная площадка
						li Парковка
						li Баланс борды, сап борды
						li Видеонаблюдение
						li BBQ-магнал
						li Кайт-хостел
	// end sKiteStation