// start .sKiteStation
.sKiteStation {
	--img-ar: #{(384/540) * 100%};
	// --sPT: #{rem(80)};
	// --sPB: #{rem(80)};
	// --sTPB: #{rem(40)};
	@include media-breakpoint-up(md){
		--img-ar: #{(384/464) * 100%};
		// --sPT: #{rem(80)};
		// --sPB: #{rem(80)};
		// --sTPB: #{rem(40)};
	}
	@include media-breakpoint-up(xl){
		--img-ar: #{(480/580) * 100%};
		// --sPT: #{rem(100)};
		// --sPB: #{rem(100)};
		// --sTPB: #{rem(40)};
	}
	@include media-breakpoint-up(xxl){
		--img-ar: #{(480/648) * 100%};
		// --sPT: #{rem(92)};
		// --sPB: #{rem(86)};
		// --sTPB: #{rem(40)};
	}


		.swiper-pagination{
		position: absolute;
		bottom: 10px;
		width: 100%;
		left: 0;
	}
		.swiper-slide {
			img{
			@include mt(.6s);
		}
		transform: scale(1);
			@include media-breakpoint-up(sm) {
		&:hover{
			transform: scale(1);
			img{
				transform: scale(1.12);
			}
		} 
		}
		}

	position: relative;
	z-index: 1;
	.bg-txt{
		top: rem(525);
		@include media-breakpoint-up(xl){
			top: rem(492);
		}
		@include media-breakpoint-up(xxl){
			top: rem(438);
		}
	}

	.section-title{

	}
	&__descr{
		line-height: 1.75;
	}

	&__top-row{
		--bs-gutter-y: #{rem(60)};

		@include media-breakpoint-up(lg){
			@include roww(rem(80));
		}
		@include media-breakpoint-up(xl){
			@include roww(rem(60));
		}
		@include media-breakpoint-up(xxl){
			@include roww(rem(112));
		}

		padding-bottom: rem(60);
	}
	&__img-col{
		width: 100%;
		@include media-breakpoint-up(lg){
			width: 54%;
		}
		@include media-breakpoint-up(xl){
			width: 52%;
		}
		@include media-breakpoint-up(xxl){
			width: 53%;
		}
	}
	//
	&__slider-wrap{
		.swiper-container{
			border-radius: rem(10);
			box-shadow: 0px rem(5) rem(15) rgba(45, 55, 65, 0.1);
		}
		.swiper-wrapper{

		}
		.swiper-slide{
			width: 100%;
			height: auto;
		}
	}
	&__slide-img{
		@extend .accept-ratio-frame;
		padding-top: var(--img-ar, #{(9/16) * 100%});
		border-radius: rem(10);
	}
	.swiper-button-hand{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&-prev{
			left: rem(24);
		}
		&-next{
			right: rem(24);
		}
	}
	//
	&__sub-title{
		font-weight: 600;
		font-size: rem(32);
		line-height: (38/32);

		padding-bottom: rem(60);
		@include media-breakpoint-up(xxl){
			padding-bottom: rem(67);
		}
	}
	&__pills-row{
		@extend .default-row;
		--bs-gutter-y: #{0} !important;

		@include media-breakpoint-up(xxl){
			@include roww(rem(90));
		}
		ul{
			@extend .red-dot-ul;

			li{
				line-height: 1.7;
				margin-bottom: rem(9.1);
			}
		}
	}
	&__{}
	&__{}
} // end.sKiteStation