extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sRews/_sRews.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sPrices/_sPrices.pug
include ../blocks/sInstructors/_sInstructors.pug
include ../blocks/sSertificates/_sSertificates.pug
include ../blocks/sKiteStation/_sKiteStation.pug
include ../blocks/sLeisure/_sLeisure.pug
include ../blocks/sCuisine/_sCuisine.pug
include ../blocks/sPlace/_sPlace.pug
include ../blocks/sRent/_sRent.pug
include ../blocks/sAdditionalServises/_sAdditionalServises.pug
include ../blocks/sAccommodation/_sAccommodation.pug
include ../blocks/sShop/_sShop.pug
include ../blocks/sHowToGetThere/_sHowToGetThere.pug
include ../blocks/sOffers/_sOffers.pug
include ../blocks/sBlog/_sBlog.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine
		+top-nav()
	+headerBlock
	+sAbout
	+sAdvantages
	+sRews
	+sSteps
	+sPrices
	+sInstructors
	+sSertificates
	+sKiteStation
	+sLeisure
	+sCuisine
	+sPlace
	+sRent
	+sAdditionalServises
	+sAccommodation
	+sShop
	+sHowToGetThere
	+sOffers
	+sBlog
	+sContact()
	+footer()
      



