// start .sSteps
.sSteps {
	background: #F6F8FB;
	position: relative;
	
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	.swiper-slide-active{
		transform: translateY(0) !important;
	}
	text-align: center;

	&__btn{
		@extend .btn;
		@extend .btn-danger;
		width: rem(300);
	}
	.carusel{
		margin-bottom: var(--sPB);
	}
	position: relative;
	z-index: 2;
	.text{
		position: absolute;
		left: 0;
		z-index: -1;
		@include a-cent1(y);
	}

	.swiper-button-hand{
		@include media-breakpoint-up(sm) {
			
		}
		position: absolute;
		top: 50%;
		transform: translateY(calc(-1 * var(--swiperArrowSize) / 2));
		margin-left: 0;
		margin-right: 0;
		@include media-breakpoint-down(sm) {
			margin-top: rem(-30);
			--swiperArrowPosition: 42px;
		}
	}

	.carusel__control-wrap{
		margin: 0;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSteps

.step-item{
	picture{
		@include block();
		border-radius: 10px;
		overflow: hidden;
		margin-bottom: $grid-gutter-width;
		img{
			@include a-cent;
		}
		img{
			@include mt;
		}
		&:hover{
			img{
				transform: scale(1.2);
			}
		}
	}
	text-align: center; 
	span{
		color: $danger;
	}
}