mixin sAdditionalServises(data)
	// start sAdditionalServises
	+b.SECTION.sAdditionalServises.section#sAdditionalServises&attributes(attributes)
		.container
			+b.section-title.text-center(class="wow  animate__fadeIn  " )
				h2 Дополнительные услуги
			//- +e.items
			+e.items
				+sAddItem(1, 'Бесплатно')
					| Пользование кухней, интернетом, электричеством, водой, туалетом для студентов школы
				+sAddItem(2, 'Бесплатно')
					| Пользование услугами станции для тех, кто арендует в школе оборудование (кайт, доску)
				+sAddItem(3, 'День - 300 ₽')
					| Для гостей школы, приехавших кататься со своим оборудованием (хранилка не включена)
				+sAddItem(4, 'День - 400 ₽, Месяц - 8000 ₽')
					| Услуги кайт станции: пользование душем, туалетом, интернетом, электричеством, кухней для гостей, опреснение кайтов (хранилка не включена)
				+sAddItem(5, 'День - 100 ₽, Месяц - 2000 ₽, Студентам школы — бесплатно.')
					| Хранилка — хранение снаряжения на берегу в контейнере
				+sAddItem(6, 'В одну сторону - 3000 ₽')
					| Такси, трансфер из аэропорта Симферополя до кайт станции Гагарин
				+sAddItem(7, 'от спота до Межводного — 200 ₽ (за 1 авто), от спота до Черноморского — 350 ₽ (за 1 авто)')
					| Трансфер с кайт станции Гагакрин Кайт до гостиницы
				+sAddItem(8, '1500 ₽ за человека')
					| Экскурсия на Тарханкут
				+sAddItem(9, '2000 ₽')
					| Фотосессия в с кайтом в Межводном
				+sAddItem(10, '2000 ₽ за человека')
					| Пейнтболл в Межводном (100 шаров) 
				+sAddItem(11, '2500 ₽ за 2 часа')
					| Квадроцикл в прокат
				+sAddItem(12, '600 ₽ за сутки')
					| Велосипед в аренду на кайт споте Межводное
				+sAddItem(13, '500 ₽ за час')
					| Сап в аренду
				+e.title(class="wow  animate__fadeIn  " )
					| Цены на отдельные услуги станции
					br
					| (если вы не пользуетесь всеми услугами станции):
					//- +e.items
				+sAddItem(14, '150 ₽ за 20 минут')
					| Душ горячий
				+sAddItem(15, '20 ₽ за 1 кг')
					| Туалет
				+sAddItem(16, '150 ₽')
					| Опреснение одного кайта
				+sAddItem(17, '150-200 ₽')
					| Свежевыжетые соки и молочные коктейли
				+sAddItem(18, '450 ₽ за сутки')
					| Палатка (включает пользование станцией, наличие свободных палаток узнавайте заранее)
				+sAddItem(19, '200 ₽ за сутки')
					| Спальный мешок
				+sAddItem(20, '800 ₽ за сутки')
					| Кровать в хостеле (постельное белье включено)
				+sAddItem(21, 'от 1500 ₽ за сутки')
					| Автомобиль
				+sAddItem(22, 'от 600 ₽ за сутки')
					| Мопед
			+e.btn-cont.text-center.toggle-servises(class="wow  animate__fadeIn  " )
				+e.btn(type='button') Показать еще 
				//
	// end sAdditionalServises

mixin sAddItem(imgNum, price)
	+e.item(class="wow  animate__fadeIn  " )
		+e.row.row.align-items-center
			.col-auto
				+e.img
					img(loading="lazy" src=`img/svg/add-sv-${imgNum}.svg` alt="")
			.col
				+e.sub-row.row.align-items-center
					+e.descr.col-lg
						block
					+e.price.col-lg-auto=price