mixin sHowToGetThere(data)
	// start sHowToGetThere
	+b.SECTION.sHowToGetThere.section#sHowToGetThere&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sHowToGetThere
				
			.row
	// end sHowToGetThere