mixin sAccommodation(data)
	// start sAccommodation
	+b.SECTION.sAccommodation.section#sAccommodation&attributes(attributes)
		+b.bg-txt.d-none.d-lg-block
			img(loading="lazy" src=`img/svg/sAccomondation-txt.svg` alt="")
		.container
			+b.section-title.text-center(class="wow  animate__fadeIn  " )
				h2 Проживание
			+e.descr(class="wow  animate__fadeIn  " ) У нас вы можете разместиться на длительный и на короткий срок. Вы можете выбрать бюджетный вариант — жизнь на берегу, комфортное размещение в мини-отеле в стандартном номере, в номере “люкс” или в шикарных двухкомнатных апартаментах на берегу Черного моря.
			+e.row.row
				+sAccommodationItem(1)
					| Кемпинг кайт-станции
					br
					| Гагарин Кайт
				+sAccommodationItem(2)
					| Хостел Гагарин
					br
					| Кайт
				+sAccommodationItem(3)
					| Гостиница Караван
					br
					| Сарай
				+sAccommodationItem(4)
					| Частная мини-гостиница «Уютный дворик у Натали»
				+sAccommodationItem(5)
					| Гостиница Амидея, Межводное
				+sAccommodationItem(6)
					| Вилла Эспаньола,
					br
					| Межводное
				+sAccommodationItem(7)
					| Дом Дракона,
					br
					| Черноморское
				+sAccommodationItem(8)
					| Лео Палас,
					br
					| Черноморское

	// end sAccommodation

mixin sAccommodationItem(imgNum='1')
	.col-6.col-lg-3(class="wow  animate__fadeIn  " )
		+e.item
			+e.img(href=`img/@2x/sAccomd-${imgNum}.jpg` data-fancybox="accod")
				+pic(`sAccomd-${imgNum}.jpg`)
				//- img(loading="lazy" src=`img/@2x/sAccomd-${imgNum}.jpg` alt="")
			+e.content
				+e.name(href='#')
					block
				+e.btn(href="#") Подробнее