// start .sAccommodation
.sAccommodation {
	--sPT: #{rem(80)};
	--sPB: #{rem(80)};
	--sTPB: #{rem(60)};
	@include media-breakpoint-up(md){
		--sPT: #{rem(80)};
		--sPB: #{rem(80)};
		--sTPB: #{rem(60)};
	}
	@include media-breakpoint-up(xl){
		--sPT: #{rem(100)};
		--sPB: #{rem(100)};
		--sTPB: #{rem(80)};
	}
	@include media-breakpoint-up(xxl){
		--sPT: #{rem(90)};
		--sPB: #{rem(88)};
		--sTPB: #{rem(23)};
	}

	background-color: $light;
	position: relative;
	z-index: 1;
	.bg-txt{
		top: rem(450);
		@include media-breakpoint-up(xl){
			top: rem(440);
		}
		@include media-breakpoint-up(xxl){
			top: rem(503);
		}
	}

	&__descr{
		line-height: 1.75;
		text-align: center;

		padding-bottom: rem(60);
		@include media-breakpoint-up(xl){
			padding-bottom: rem(80);
		}
		@include media-breakpoint-up(xxl){
			padding-bottom: rem(90);
		}
	}
	&__row{
		@extend .default-row;
	}
	&__item{
		min-height: 100%;
		display: flex;
		flex-direction: column;

		text-align: center;
		background: $white;
		border-radius: rem(10);
		overflow: hidden;
		
		position: relative;
		z-index: 1;
		@include mt;
		transform: scale(1);
		transform: scale(1);
		&:hover{
			box-shadow: 0 rem(5) rem(15) rgba(45, 55, 65, 0.1);
			transform: scale(1);
			@include media-breakpoint-up(sm) {
				transform: scale(1);
			img{
				transform: scale(1.12);
			}
			}
		}
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid $gray-100;
			border-radius: rem(10);
		}
	}
	&__img{
		width: 100%;
		height: rem(176);
		position: relative;
		overflow: hidden;
		display: block;
			img{
				position: absolute;
				left: 0;
				top: 0;
			@include mt(.6s);
		}
		
		@include media-breakpoint-up(xl){
			height: rem(220);
		}

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content{
		flex-grow: 1;

		padding: rem(24) rem(32);
		@include media-breakpoint-up(lg){
			padding: rem(24);
		}
		@include media-breakpoint-up(xxl){
			padding: rem(24) rem(24) rem(36) rem(24);
		}

		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__name{
		display: block;
		font-weight: 600;
		font-size: rem(18);
		@include media-breakpoint-up(xxl){
			font-size: rem(20);
		}
		text-align: center;

		color: $body-color;

		margin-bottom: rem(51);
		@include media-breakpoint-up(xl){
			margin-bottom: rem(30);
		}
		@include media-breakpoint-up(xxl){
			margin-bottom: rem(23);
		}
	}
	&__btn{
		margin-top: auto;
		@extend .btn;
		@extend .btn-outline-danger;

		min-width: rem(200);
		&:hover{
			color: $white!important;
		}

		padding: rem(10) rem(16);
	}

	&__{}
	&__{}
} // end.sAccommodation