
	// start .topLine
	.topLine {
			@include media-breakpoint-up(md) {

				--sPT: #{rem(20)};
				--sPB: #{rem(16)};
			}
			--sPT: #{rem(12)};
			--sPB: #{rem(12)};
		background-color: #fff;
		border-bottom: 1px solid #D6E0EA;
		position: relative;
		z-index: 4;
		.row{
			align-items: center;
		}

		&__tel{
			font-weight: 600;
			@extend .text-body;
			@extend .blesk;
			&--mobile {
				@extend .btn;
				@extend .btn-primary;
				color: #fff !important;
				border-radius: 5px;
				padding: 0;
				width: rem(48);
				height: rem(48);
				display: flex;
				align-items: center;
				justify-content: center;
				.icon{
					font-size: rem(24);
				}
			}
		}
		&__btn{
			@extend .btn;
			@extend .btn-sm;
			@extend .btn-primary;
				@include media-breakpoint-up(xl){

					width: rem(200);
				}
				width: rem(180);
		}
		.row{
			@include media-breakpoint-up(xl) {

				--bs-gutter-x: 30px;
			}
			--bs-gutter-x: 16px;
		}
		&__tel-wrap{
			@include media-breakpoint-down(xxl) {
				// max-width: ;
				text-align: right;
				max-width: calc(#{rem(140)} + var(--bs-gutter-x));
			}

		}
		&__logo{
			display: inline-block;
			img{
				@extend .res-i;
			}
			@include media-breakpoint-up(xl) {
				width: auto;
			}
			max-width: 144px;
		}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine

.place-block{
		@include media-breakpoint-up(xl){

			max-width: rem(273);
		}
		max-width: rem(236);
	&__toggle{
		cursor: pointer;
		background: #F4F6FA; 
		border: 1px solid #F4F6FA; 
		@include mt;
		box-sizing: border-box;
	
		border-radius: 5px;
		overflow: hidden;
			@include media-breakpoint-up(xl){

				padding: rem(8);
				padding-left: rem(50);
				padding-right: rem(45);
			}
			padding: rem(14) rem(8);
		position: relative;
		padding-left: rem(50);
		padding-right: rem(45);
		*{

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
			&::after{
			content: var(--chevron-down);
			position: absolute;
			right: 1rem;
			@include a-cent1(y);
			margin-top: rem(4);
		}
		&::before{
			content: var(--check--white);
			background-color: $danger;
			width: rem(30);
			height: rem(30);
			border-radius: 50%; 
			left: rem(10);
			@include a-cent1(y);
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: rem(4);

		}
		
	}
	position: relative;
	&__title{
		font-weight: 600;
		color: $body-color;
	}
	&__text{
		color: $dark;
	}
	&__item{
		padding: rem(8);
		cursor: pointer;
			padding-left: rem(50);
			&:last-child{
				border-radius: 0  5px 5px  0 ;
			}
			@include mt;
			position: relative;
		
			&::before{
				// content: var(--check-gray);
				content: var(--check--gray);
				background-color: #DFE7EE;
				width: rem(30);
				height: rem(30);
				border-radius: 50%; 
				left: rem(10);
				@include a-cent1(y);
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: rem(4);

		}
		&:hover{
			background: #F4F6FA;
		}
		&:not(:last-child) {
			border-bottom: 1px solid #DBE4EC;
		}
	}
	&__dropdown{
		position: absolute;
		background: #fff;
		overflow: hidden;
		border: 1px solid #D6E0EA;
		margin-top: -1px;
		// border-radius: 0 5px 5px 0;
		top: 100%;
		left: 0;
		width: 100%;
		@include mt();
		border-radius: 0 0  5px 5px   ;
				box-shadow: 0px 5px 15px rgba(45, 55, 65, 0.1);
		transform-origin: 0 0;
		transform: scaleY(0);
		opacity: 0;
		visibility: hidden;
		// transform: translateY(-10%);
		// display: none;
	}
	&:hover &__toggle{
		
		border-color: #D6E0EA;
		background-color: #fff;
	}
	&.show &__toggle{
		border-radius: 5px 5px 0  0;
		background-color: #fff;
		box-shadow: 0px 5px 15px rgba(45, 55, 65, 0.1);
		border-color: #D6E0EA;
	}
	&.show &__dropdown{
		transform: scaleY(1);
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
			box-shadow: 0px 5px 15px rgba(45, 55, 65, 0.1);

	}
	&__toggle {
			@include media-breakpoint-down(xl) {
				.place-block__text{
					display: none;
				}
			}
	}
}