// start .sSertificates
.sSertificates {
		// --sPT: #{rem(100)};
		--sPB: #{rem(95)};
		// --sTPB: ;
		h2{
			@include media-breakpoint-up(xl) {
			font-size: rem(48);
			}
		}
		--column: 2;
    --row: 2;
		&__row{
			margin-top: 0;
			@include media-breakpoint-up(lg) {

				// flex-direction: column;
				display: grid;
				grid-template-columns: repeat(var(--column),1fr);
				// grid-template-rows: repeat(var(--row),1fr);
				// --bs-gutter-x: 0;
			}
		}
		// picture{
		// 	img{
		// 	@include mt;
		// }
		// &:hover{
		// 	img{
		// 		transform: scale(1.12);
		// 	}
		// } 
		// }
		&__col{
			margin-top: 0;
			&--end{
				@include media-breakpoint-up(lg) {

					display: flex;
					flex-direction: column;
					justify-content: flex-end;
				}
			}
			&:nth-child(2){
				grid-column: 2/2;
				grid-row: 1/3;
			}
		}
		&__block{
			background: #FFFFFF;
			border: 1px solid #D6E0EA;
			box-sizing: border-box;
			box-shadow: 0px 5px 15px rgba(45, 55, 65, 0.1);
			border-radius: 10px;
			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
			}
			margin-bottom: $grid-gutter-width;
			height: calc(100%  );
			&-head,
			&-body{
					@include media-breakpoint-up(xxl) {

						padding: rem(48);
					}
					@include media-breakpoint-up(xl) {

						padding: rem(36);
					}
					padding: rem(26);
			}
			
		}
		&__block-head{
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #D6E0EA;
		}
			&__li{ 
			display: flex;
			// align-items: center;
			margin-bottom: rem(36);
			z-index: 4;
			// perspective-origin: ;
			position: relative;
		}
		&__icon-wrap{
			margin-right: rem(24);
			width: rem(80);
			text-align: center;
			flex: 0 0 auto;
		}
		&__text{
			font-weight: normal;
			margin-bottom: rem(15);
			line-height: 170%;
		}
		a{
			@extend .text-danger;
			border-bottom: 1px solid;
			&:hover{
				text-decoration: none;
				border-bottom-color:transparent ;
			}
		}
		&__col{
			display: flex;
			flex-direction: column;
			// justify-content: space-between;
		}
		.section-title{
			flex-grow: 1;
			// margin-bottom: a;
		}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSertificates

.sert-card{
	display: flex;
	// align-items: center;
	padding:  $grid-gutter-width;
	background-color: #fff;
	img{
		@include mt;
	}
	&:hover{
			img{
				transform: scale(1.12);
			}
		}
	&:nth-child(1){

		margin-bottom: $grid-gutter-width;
	}
	border: 1px solid #D6E0EA;
	box-sizing: border-box;
	box-shadow: 0px 5px 15px rgba(45, 55, 65, 0.1);
	border-radius: 10px;
	@include media-breakpoint-up(lg) {
		padding: rem(44) $grid-gutter-width;

		max-width: rem(536);
	}

	picture{
			@include media-breakpoint-up(xl) {

				width: rem(140);
				height: rem(140);
			}
			width: rem(120);
			height: rem(120);
		flex: 0 0 auto;
		border-radius: 50%;
		overflow: hidden;
		margin-right: $grid-gutter-width;
	}
}