mixin sSertificates(data)
	// start sSertificates
	+b.SECTION.sSertificates.section#sSertificates&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sSertificates
				
			.row
	// end sSertificates