
$h: 3px;

.toggle-menu-mobile {
	display: block; 
	position: relative;
	color: #fff !important;
	font-size: 32px;
	width: 1em;
	padding: 0;
	@extend .btn;
	@extend .btn-danger;
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(48);
	height: rem(48);
	border-radius: 5px; 
	span:after,
	span:before {
		content: "";
		position: absolute;
		right: 0;
	}
	&.on{
		background: #F4F6FA;
		border-color: #F4F6FA;
		pointer-events: none
	}
	span {
		@include a-cent(y);
	}

	span:before {


		top: $h * 3;
	}

	span:after {
		bottom: $h * 3;
	}

	span { 
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: $h;
		background-color: #fff;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
		transform-origin: 50% 50%;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&:not(.on) span:before{
		width: 50%;
	}
	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		background-color: #607286;
		
	}

	&.on span:before {
		transform: rotate3d(0,0,1, 45deg);
	}

	&.on span:after {
		transform: rotate3d(0,0,1, -45deg);
	}
}

.menu-mobile {
	position: absolute;
	
	// z-index: 9;

	height: calc(var(--vh, 1vh) * 100 - var(--header-height));
	width: 100%;
	top: 100%;
	left: 0;
	// right: 0;
	background-color: #fff;
	&:not(.active){
		// transform: translate3d(120%, 0,0);
		transform: translateY(-100%);
		--opacity: 0;

	}
	@include mt(.6s);
	will-change: transform;

	&__inner {
		padding: rem(20) 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		@include mt(.3s);
		transition-delay: .4s;
		opacity: var(--opacity);
	}

	&.active { 
		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		margin: 0;
		border-top: 1px solid rgba(255, 255, 255, .13);

		a {
			// font-size: 16px;

			padding: 10px;
			display: block;

		}
	}
	.topLine{
		text-align: center;
	 border: none;
		&__tel{
			font-size: 32px;
			display: inline-block;
			margin-bottom: 10px;
		}
		&__btn{
			font-size: 20px;
			width: 240px;
			margin-top: 30px;
			margin-bottom: 30px;
		}

	}
	.soc{
		justify-content: center;
		--size: 45px;
		--fz: 30px;
		margin-bottom: 40px;
	}
}