.top-nav {
	position: relative;
	z-index: 2;
	background-color: #fff;
	

	&__body{
		display: flex;
		align-items: center;
	}

	
	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}


	@include media-breakpoint-down(xs) {}
}

