 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		background-color: var(--color, --bs-primary);
		color: #fff !important;
		width: var(--size, #{rem(30)});
		height: var(--size, #{rem(30)});
		border-radius: 50%;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .8 ;
		}
		
	}
	.icon{
		font-size: var(--fz, #{rem(20)});
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

