
	// start .header
	.header {
	// @include mt;
	background-color: #fff;
	transition: opacity .3s;
	@include media-breakpoint-up(xxl) {

		--container-x: #{rem(47)};
	}
	@include media-breakpoint-up(lg) {

		--container-x: #{rem(40)};
	}
	--container-x: #{rem(18)};
		.container-fluid{
			margin-left: auto;
			margin-right: auto;
			// max-width: rem(1920 - 0);
			padding-left: var(--container-x);
			padding-right: var(--container-x);
		}
		width: 100%;
		left: 0;
		top: 0;
		position: fixed;
		z-index: 200;
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.header