// start .sLeisure
.sLeisure {
	background: $light;

	position: relative;
	z-index: 1;
	.bg-txt{
		top: rem(247);
		@include media-breakpoint-up(xl){
			top: rem(247);
		}
		@include media-breakpoint-up(xxl){
			top: rem(243);
		}
	}

	&__row{
		@extend .default-row;
	}
	&__item{
		@include mt;
		transform: scale(1);
		&:hover{
			box-shadow: 0 rem(5) rem(15) rgba(45, 55, 65, 0.1);
			@include media-breakpoint-up(sm) {
				transform: scale(1);
			.sLeisure__bg img{
				transform: scale(1.12);
			}
			}
		}
		min-height: #{'max(100%, #{rem(251)})'};
		@include media-breakpoint-up(xl){
			min-height: #{'max(100%, #{rem(314)})'};
		}

		background: $dark;
		// box-shadow: 0 rem(5) rem(15) rgba(45, 55, 65, 0.1);
		border-radius: rem(10);
		overflow: hidden;

		position: relative;
		z-index: 1;

		padding: rem(48) rem(24);
	}
	&__bg{
		position: absolute;
		opacity: .75;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%; 
			img{
			@include mt(.6s);
		}
		@include media-breakpoint-up(sm) {
			transform: scale(1);
		&:hover{
			transform: scale(1);
			img{
				transform: scale(1.12);
			}
		}  
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__ball{
		width: rem(120);
		height: rem(120);
		margin: 0 auto rem(52) auto;
		border-radius: 50%;
		background: $white;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 90%;
			max-height: 90%;
		}
	}
	&__txt{
		font-weight: 600;

		font-size: rem(20);
		@include media-breakpoint-up(lg){
			font-size: rem(26);
		}
		line-height: 1.75;
		color: $white;
	}
	//
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sLeisure