//- WP menu
mixin mnu()
	//- "#sSertificates",
	-
		var nav= {
			"О нас":"#sAbout",
			"Преимущества  ":"#sAdvantages",
			"Отзывы":"#sRews",
			"Как стать кайтером ":"#sSteps",
			"Курсы и цены":"#sPrices",
			"Инструкторы":"#sInstructors",
			"Станция":"#sKiteStation", 
			"Досуг":"#sLeisure", 
			"Питание":"#sCuisine", 
			"Кайт спот":"#sPlace", 
			"Аренда":"#sRent", 
			"Услуги":"#sAdditionalServises", 
			"Проживание":"#sAccommodation", 
			"Как добраться": "#sHowToGetThere",
			"Блог":"#sBlog", 
			"Контакты":"#sContact", 
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu
//- /WP menu



//- mixin mnu()
//- 	-
//- 		var nav= {
//- 			"О нас":"#",
//- 			"Преимущества  ":"#",
//- 			"Отзывы":"#",
//- 			"Как стать кайтером ":"#",
//- 			"Курсы и цены":"#",
//- 			"Инструкторы":"#",
//- 			"Станция":"#",
//- 			"Досуг":"#", 
//- 			"Питание":"#", 
//- 			"Кайт спот":"#", 
//- 			"Аренда":"#", 
//- 			"Услуги":"#", 
//- 			"Проживание":"#", 
//- 			"Как добраться":"#", 
//- 			"Блог":"#", 
//- 			"Контакты":"#", 
//- 			}
//- 	+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")
//- 		+e.LI.item--has-children( itemprop="item" )
//- 		each linkPatch, linkName in nav
//- 			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="#" itemprop="url")= linkName
		
//- //- /menu