mixin item-sos(icon, color, a='#')
	+e.A.item(href= a style=`--color: ${color}` target="_blank")
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			+item-sos('instagram','#E74B5E')
			+item-sos('whatsapp','#25D366')
			+item-sos('viber','#665CAC')
			+item-sos('telegram','#139BD0')

//- /social buttons 